In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### **Testing**

In [5]:
url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p=1&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [8]:
response = requests.get(url, headers=headers)

In [10]:
if response.status_code == 200: # Check if the request was successful. If the status code is 200, it means successful.
    soup = BeautifulSoup(response.text, 'html.parser')
    print(soup.prettify())  # Print formatted HTML to see the content
else:
    print("Failed to retrieve the page.")

<!DOCTYPE html>
<html>
 <head id="hdBase">
  <meta charset="utf-8"/>
  <title>
   BWF - BWF World Rankings - Overview
  </title>
  <meta content="tournamentsoftware.com: Software to run tournaments, leagues and ladders for tennis, badminton, padel, squash and other racket sports" name="description"/>
  <meta content="tennis, tournament, planner, tennis, amateur tennis, software, tournamentplanner, register, sport, www.tournamentsoftware.com, www.tournament.com, www.tennistournament.com, www.tennistoernooi.com, register, squash, badminton, entry, tournament, planner, tournooi, tournament, volleybal, volleyball, association, planning, poule, draw, tennis software, match, poule, match overview, teamsport, team, official, teamsportplanner, hockey, basketball, competition, league" name="keywords"/>
  <link href="//static.tournamentsoftware.com/content/images/themes/bwf/app/favicon.ico?v=20170126155446" rel="shortcut icon" type="image/icon"/>
  <link href="../content/images/themes/bwf/app/manifest.json" rel="manifest"/>
  <meta content="Copyright 2000-2024 Visual Reality" name="copyright"/>
  <script async="true" src="https://www.googletagmanager.com/gtag/js?id=G-X6MH3T0B6G">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-X6MH3T0B6G');
  </script>
  <meta content="noindex,nofollow" name="robots"/>
  <link href="/VisualResource.ashx?id=75416e5f5fbd16cf091b02dd563f0b1e" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/VisualResource.ashx?id=c372b688d39ca9078e6c11167619c523" media="print" rel="stylesheet" type="text/css"/>
  <link href="//static.tournamentsoftware.com/content/styles/css/themes/bwf/styles.css?v=20241008104913" media="all" rel="stylesheet" type="text/css"/>
  <link href="//static.tournamentsoftware.com/content/styles/css/themes/bwf/styles-legacy.css?v=20240109081637" media="all" rel="stylesheet" type="text/css"/>
 </head>
 <body class="layout-is-old organization organization--bwf" id="bdBase">
  <form action="./category.aspx?id=42511&amp;category=472&amp;C472FOC=&amp;p=1&amp;ps=100" class="chosendd hasbanner bwf_logo lcid1033 rankingpage rid70" id="formBasePage" method="post">
   <div class="aspNetHidden">
    <input id="__EVENTTARGET" name="__EVENTTARGET" type="hidden" value=""/>
    <input id="__EVENTARGUMENT" name="__EVENTARGUMENT" type="hidden" value=""/>
    <input id="__LASTFOCUS" name="__LASTFOCUS" type="hidden" value=""/>
    <input id="__VIEWSTATE" name="__VIEWSTATE" type="hidden" value="YoivDwGqKzUgphYB1A5AgAIV++jd7FmKDhxyTZHBM1jVjYCc0QcshfqFIhbn53UPDhDxh3sW/8D5u69BtNIrNSHEsMg="/>
   </div>
   <script type="text/javascript">
    //<![CDATA[
var theForm = document.forms['formBasePage'];
if (!theForm) {
    theForm = document.formBasePage;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
   </script>
   <script src="/VisualResource.ashx?id=a7c57f7f4c17316c16296650f8a7a92d" type="text/javascript">
   </script>
   <script src="//static.tournamentsoftware.com/Content/scripts/dist/vendorold-bundle.js?v=20220607100246" type="text/javascript">
   </script>
   <script src="//static.tournamentsoftware.com/Content/scripts/dist/functions_legacy-bundle.js?v=20240917102256" type="text/javascript">
   </script>
   <div class="aspNetHidden">
    <input id="__VIEWSTATEGENERATOR" name="__VIEWSTATEGENERATOR" type="hidden" value="AC269323"/>
    <input id="__EVENTVALIDATION" name="__EVENTVALIDATION" type="hidden" value="E/QoVImLFhiwFMiD4fDZtCYlwgqhRmb6se/Bk2PENb7Ld7WIkNNGlq4snkP6mBl04dkklAGkH7Q9CXOGo6BWeU6A+zeh9rRNzaq5+ntqob87EUCf+NCOQLKcVdxRmuhFekV4PTACLVNcZvtYnqCD0yxcOB4HaC6vR3UhRIe0RIHA3OK/6VzNh76rLZ4Sx+wtOgYf8E08/4BT914lZU8nbQGm5f8eWofy8kbVaNxm3sio/wcdeh4StjKCBT696Hp/xFUXgvL7We8auN1iJ9gZ+zY/I645Lx9YAHeu5gqX0Vyo6dcNRBVXEOeR7LuoJmgIafuhEcqKzhYpEf5m9RbuIw+qrn6s8IhJOoT8Hd9i65WiCZw03UAQKwAQWkj3Dk88NKfMNBUDLLpVke7KU7ojRrv5MinYLLN1Cthwy18uaoHjTVUutBRHDj2xdEhCxyEbFZA3+7MxO3NYETWyzWhfI1CVKNqyz4ok7KLkVEhON19xojlHZRLJ0MHVTEPD2yJVtiprwBLxsVStCHp8nNM1I0f3yBTgNhh3I+kMXcBSU4L0XdZpt01sQcQjaQMeNnegp6EW2iU/cMxKbxfKZdCIdS1whDh4EPQpALAXrkCwqU+vAhDRbYzBdLmKa9ifE3296sjGK10KGuOK5SfZMjzptnwLtF4VPIgt7GeshTFOoy8tmOoJlH7KbHkDhBDJ2tLIeUdow++iufwe7NihFLVH2Csrqy42bSjLrV7qYyKsgSpA4CuwhvUIuJLhEjG8ilA2E43Lf1ROGISBoq+WeK8nnSSO97A+bWrUCsUCCe0Ahdr/lzTqmBUZD5AaJT4MulYed7eTfzaGKLP9SXxu5kKMmH3upB+Y6ftSEQBb/FShmrq36WpMtEWcWyKJklWGTNDsYz8PV/UhvEwBHGL3jinoeX/QjmwZz0NvxlWas1cKCnxQ1ZGpc0sJaJLXvrWuzT9tHojARdcPItMT4RQu/q+xohsCBHttkWaJWltz7atEwZSnz32txZJdcyb4kZdLPABLWk+i3Ah9OU04O1LsMv3oQ9Gr+BCHy6uPoMhJ9Rq0cP9vFSC0yMy7N61ds3m69n7U1AiBrpRXt1t8gRpuI3J5XISW0ugsuVbda+/S5U1EI0Q5ijMZeDh2uLKi4DqjIKrlM9pc9C2ruusH1pFF/4Lt8E6xYRYie3Bj314hII4V1q29GsWaGIQvLKfKQJmmpcDe2qnlQBeGKyjDWmJlS7kdfgMjkWjGirPcARJZ2MAPJTfzIhMwelrm1I2Q8RvMTj6VFycNb0eaqe+FioSKkjJTrLH9P+YAg2xPMS0xompN6knUhvfK/9/k0ADZ1kfWmjK7pMab4ZmCHycGGn7U+bDn6rpiQgrkKSaAL2jzo6HdD9xewxMYmQEpOY2cp0YgA82p1IjsqJ0mqfufHgznwsEn+AcVNCm7lA1JPMwxfpI4bWcZve/1Ly0CCARRvyGOuuKfWL5knWfIscXi3cTDYSLKKp36bTnNkX35rTVKwfN59+MsgA0EnydmWucc2LSTp7b2xB7YWUXMRDyEfVjLxmI0MDNUl8HAnDZ2zXQva/kAF+FYra3JoUtPKdAy8ymzDe6+TZe281aAzdLhs/eJfMqtXNoFUGRhYqjoL0Oak+pMEmmHjD2OUoz6ttycJvY1MpIWs4DrZNrpGmybN6VIfqj1KuzzvHDCD+ZMoZd98btuvH6NQHETLtPpevjV13iv23wComwvTwlAXsdONjn+kS8inj2ZaV3Ied9/nJjUonCryCPDyM9dEo3MSO5qszMbXis+yHJHtWywKM4UPaf+A+ISPP5rXiqWXob+hFuY0ZBHAu3HmYxiCnffXPO29Tiw8ORga8KnGmH8ScLzfQzLyV5AJmJUOTvfhnBqZOokrYFelLVLeNeO7KWXbbvl6nqK5bBvbbO8awLNCdshs9KH7zL7aMo+Piq0+B/RKQfLVA9CmiIctAViQOM2Ygs3zokcDtqrviPVTD7B1LSaOnhWX6heIvK2uBQ/l/nPOCMBw4ArpI29QJSTPyTnozN3f2jyO2f+dHfi7mQjW44aFrVND7IcT2wuJpJfh8IOd1LBQo6wQ6/cSBdDeoc9r5UdywygmmO6bFJ4UeA3dQfpTurfAFX6zrQFxSEE9dwWlT3QZGAYYKq5l5AHWKMXlDwpy6/8MSeIAZXriZv6hWyslMUxrr00Q3Fd8/hKg++Pl2GHwSC0Uik2Gcanfkr+8hyFyIw6jJ7AZOEa2lDt1mSX+1xrqffg7DrA3euMvyIr54Zbs4Db6U+asl3uuY/3BeA/KkD07ADLmDuRfkx4gDFnL0eRSJOWmcN7DU3gk423Zdc+nEAXxEfBTcl11ja70fjLzoyyoMzFojd/h11eWT23EsHnN+WOQG8tKAgRo0UJVxtVhEuuiICZYCs/i4Mf8uc3mtJVcipRgIO/mO1/308x63iuVGnglrf9rVonoU2WZ9kIWZTMCUsCoK0dN4ixkdXSZ++pKRdq3LgNJN9mj3BChEPmntRIcEI8cg+DxnRMqGrunwgLG6qWtxoxod2Udmy2bs/brJ37J3XMtFoqgF0e0cX1T38kufUC1+A/vTv1Jf/8v8eovnm/wapJ2R6LbOD/VlX7Hr0vdHbiGlUsNmBrckW6ACCTEWFoh8A885JxfdFPqNUtPx72Qjq/WAAGtSxpHkH9wmeetlIdso9qs+PoRN+3D7fqLLcbuCmzgLoKscyn+V60cz2209JKkJnYT0Tw22DZ4t0UACNi8VZ4//qwRvX9zDG/WaRqiCWnqKl8hGQt21CeXdM/GjY9APsRJkGLkcCdAZLvuRuvHB3RcZzlXwGR8Z9YUG4VZ/1FXjfEPbC3ePmNDuCZJ3VryMV2/pDlnrQWckvre42Lm1y0jJJFZL4495zw26r/Bc8DqH+E/ooQxU1+CAeYspvAVS0e7zy+RdtRi0dnyzH+COr7x91l2RhfYnbiik1zGIzwQdsiWLQcXtmgAOpTLZZMAGIantNoqQl7AVf/zRoWpv5oxasdWA1lYqr5XMb/1JcWm5Ha6L+RJj0I2XOkO770b0u0ftNflH6GG5upyKjdqwneAhlyVhIrHG6jZ2k2aBfs5vedeIICZwmJXLmb05mTOvc3RIx2upA9SjNy/LDzF5FmNH0gyuqrhrwjmGjldlQpGbRSISOl2jOj4cHUQFdj5lpc3Av0rNf/TbRgch/B2LylxhVagbDMHNlRLagRE9xBGKoOx2Pv1hid3Z93jWZ6IPUkgl4K8b7yfXGCwBrb+Eo4GCYSqZXNM+W3oBkk0Nf8DEJqnsMWETvPT49B9YRfp3l1oGB377nzJ9uR8p3XyrgI/VJ1tdb5dIDGi4xytM+giWcX1YxgI7YAsX+h+FtfRu9yL56be1sCiVRwAptSUHbbc9CPEk7KcKEkuPNsNv5uLEcKfgtEXBNtrFLJQuYWxZfY1UcpDIpEgGKyCb5AwhF2D3cmq0u9MXeHzIGjyvvVGEnJlpCTMw1oc07qz6+Hxt362j101o+SJbr28nbKpWhywApvaHvzO5zl3JyCL5lx2tL2wcpxuxysh31uLzjXYunRfMLWMoILDwMfdpccAgxq9rfjWOq2Je0s2+w8a72J1HItuPemGy8IRhayWs6hL7wZK1YkRk3soEvN5jdotN7mA4S0efcgiQuYh5kpxB7dEbiefSK/lQObJELi4yFG6X2qSvNbOQB7hJi3TfBIsuEUZ57UM4udnrd+iUUMAWXLIikYLeoLi/Ek2jOT6q+4tzVaBRLMenMkO0Zn7DhwoPsFdKrFQPb7IYbcNvinMXSi+vQnTGBXXeBtT7kGPSTxrMz735bonJr0rLZ7UldSvGxbJEIzOYsFOC0qEn20YeRMgK5c1kvRYMHss7FmS98nFA7V4j3bal5vvlJ2MY9D9ORF4e+DaytV81OYg7aDsoRaKnFqmgBg0c6o6zptV5XyBPK9CJc+HUc0DozG6UhiJ1yo+IBeGf/kcSlTcwtmzwl/JKrYYYuA0YA3mnjr3mGLN/mNiIVRUJuwVi+3I1NLQa7l4TevuV3ki/r8OB40P9tHAML7TDpHNkF4G3MneVd+qVawP+zjWdUzpXQEqsCJDKj2zONvP8HWkKNRJ4UbWxWhURdTiFJSxyf7/JSCHVcRexJoc1auusZfUMqxuwHkfjKp/JTArzfkedsRJizCd0cwl+sRgJY2GnXlD0da7yrzY7xzmZIgpBbIEw3YIoX2c1X906Z1gz2OCUiQG7QVbfg/PfwKt2heAujVAzjgHKJ7aEJC7U/e47589aoW2YUtO8zH+ZHYR8gmmMn6hi5O2dYzBKgL76/y7zcf1YQ+ASR5aq8wkRU6Pehb0T4tOxUDFMtm7wd5MaVNtAguIy0wMCtxa4d0y7DRdJ9tw/QzyGGmXi1Vmyl2ostf21evuriOgXQPKrvbc+3T89zEblpl8hsH/tEIiQ1covHHBgpc690lM1Haw70/g9mCYjIWUEJQv3imTAOAG4Ki9jeClCeHaF9C9+oldB8hhp//3OEByRy9Ky/NJUFElhRQy/rtjel2V9o7ncjqf6HKlO6jUTBBAKHzHvDlIT5oMN12y/9yIZNGe8dQIiBjr/EAr0MhrPpNNROeonFTcsoJ83ioRqDDd7WOaTcXzb/TKiShL2G1BubRpoRXUe0OJ1bINEZuYT7Ln2sa93a/2udlk/Fe8qJG8zpUrRJH89lwSjFHGdaVQyqu12e2BzVkbSpJFyjvKDuWgngpOE0u3c0b6Lm2NGgAdEqe7sfGgx4MarHZiz8n3wrCAEaJL9OMBeHWvEDVe1sVPefWz2zAXimwG+kAuFhdvKFP7zDvHf3Z+Y+C1mOg2T2UOxI5IUCCBjv7oWYqMrWBiKis+y/KmrmZzmW0tA3vcNYSCgT2eZ7DdhCtvS+kGfXFL3YZtuz47gIJzj/wg54ALnerFnmn1Sw/Q5V2cU2plvWfG3vNwqVLWnXB2sdi89JNiyefIrtVwPA0FD+PQdom6kvP5Xdp2OVzcywL4mSdiO+uY2A/23sZ41TZoZ9QVhFVl3vTjXolJ3SEjE+NEfFAB+J+CbhgSDAj/QZrO9Q3mqW6vir/BtA/RuIv8vywkSVGIiMOa3oGKRpAwocng6gOMMYHGTg3zmBIm0MGHVHAH/vsS8Idb7YsGYL28xVDarryT4jO1wCbcvvVdfJMyRPSnESer8qUXv0F5+HQ+5CmJx1YV0VzihkMCt3plLl1jz1RTgnQVorTvBwhOQR2e6ngu6zz/RUEPlNmZmZTL0jO1pP+pzwl31VCXgsGmV7Up+An04xnRMMcsSMhUX+yesKixo0WtE+1FiQoyPRSmLCuC5FQG2C+Bziyq+yHlOiBZBCrLktG+mIbV9j8ll7OdlxNrjFj81TkUmZAOzdwAvWevMLhGe8q3bqFyPBeySMMdVAYh7BU0c35nWWB1xSFrSZs751ruNVA14eWC1ic4hYxhb03gPMKRqhTwy/HT5ZYfz1qUbm7fO4Q1WHNh86Ot5AgczwUmhyX2hMrfK8Aubu9++cSf1wfGYMQUve+1DbMCT9hmyHTp+EwxM3ZQpkXoO24aid5je6SPKzyNUUxMbdM3q0xb9jjzPJIV3Ta2ydG7mvTxxccwkqPu7Erncz2GWNzg8GZKvegiBLb/xbNTRjSiKMLRxRuloaqUBP42EqXzLKJ62nplzrWfmAiwI2OMipGp4cOgKPGZUeGXPcrJJ+M/JDaWSwfvJEHHVPE2kSGTu06oHEiNd+BH7Jojij/oN6cnZB8fF+sLkGoGsjHkp5Qrwd4HFilKtS1TYZPC23YWMdxHoP78/s5y7GDD6Rooj0GcT4IdG/sL2CIU68vWnIUYMuqdcBTOL6cb/6CqvtlQU1tucBZ/e4JWb0/qYTnZeEOmJ+mBukMKXiMWWlDBT7W8o6qoTj7GxpDP7QT2Nk9EANgFS0G1gtfKIA5ZzGpZPU4wpiCoRkNjotLsYEDFZSBIVJSM0BxHXOnR99eZM+iXuefTiNokiAjCDHyowJcJaQEm3/fJRyoIfNG3h5pQJhwwkjngkg1g8dAyPeD0MgtG3I0zIUAbfINxlowwLtlcxTv69ZTSwY9NDD+GTRIj1kOQCvEU8UY+QbBHc+5y/kWRtXCN/4no6iI0NcVK/ywnv0AmK08EM1+6hpLfpKByLWvIjS2AoKN2Bvhuy0mGtHFc+RkshOa6g2YL2id3Hz8jIi2Zo8aHjXnv+H3ivvUe3wdlD0lqtTRGTfUoSKI500yTU8UFe3WLMsjYBlBkE7uidrw7BEqEyHoek2w50qHYBUDX12jPztLmkjdKp0J4F52Z74xkGDHEXOus2MBx1zVxc2iHXEfZDtZMGXOC+HwJkTQ/ffT+AHTZFOrTLHOZQzkSbJlL/9b/HQW15wCZ37uzqa4F/jPxtrWDd1Za0ZdQEoFm+TZ5ZW0pZ6/S9NOUHEQSfEVyIToYnM69JVm4Ys94B8BQOgUjetn0euQ8pwp3G7ukAqWepvH5MMy7B2gMlibmVCO0nv7IvK3UHu+HMug5CqS7oS40uKEemdzN5zu69zFKcCBQUOISiI4e6FHEUVtgP0NzrEO/HFzbDP/SCRoVIr+Xb788W+I4YS6h7FYtARtb0wVijPlMcujUF9iNYOI4UVCzgcswVG/s9imR0lap+afA9uSRCTInn6UPFWJrA9U0n81lsh8S8BuR7LWF8zpypnBRRnl3IHz9sOJutj1mSIwwfekf2IzBAc3ggKxkOLgPr/N0ATsVgVot3bDcbBBlAo5l1sAUKmNc4PRs7QXgejZV0gcYjd3H4mvYC8EqsAWRKb0sq5I98NCGiPY8dDrR0dYI+abUgDTaus1lyU44FQngmyK0/ye2FwchWZXbRFJ3+2Qhz6+UTB4TeGWEmeG1kCJSg+yKr4SSum42DQMf+GTK/LAdLKNDx92PjnP3rQFjjNUlEymsYLW0PjYVPfuM/A9eBg59tv93FWIoxv1u7PwgHp4ssdgiHD+BFYmlmNP2ZKJN9CzSb+0vb/aBKa1o0SkGKK/sThTemz7BpDTxBKBlMojDnglSNrU59zeJ05J0jyOHqQ86ozEj1PnoucCYLamT3yOl+B7coPMLds/wM/wYL8aIEQSyOfwHOzOsFPFl2CozKkhG6ee+fUnKfh2hU5zaZi1j4Tcc9t048PwpvO4ahEUnnhLREyzntCTC0KYg8Z0cvFDc+oXyFqpTmy6BV+6f94mrU7GHcg6zrB6Tz8G6pctUlYx55cVMOPt6Kw8a4rT1CjYdebHZnEu0xzpaof3M7G1Ctkix8qU2u94NQRMaqbDIJ+yCXqty0EyLXY9zncYaqKi3iEGR1+ueCoejd1z3hV1A4IuHolIyq2uVaL7ZTqTEyk8MxD69WTmFqeNKgcrMxLVaUhq4JdmTQN9dPmlge6iqhY8UkAi+hWWQzt0RN9KnjhqQsW0wC7utml3KYOejYRbD5bQjFaPteA0EzFokC/KZBpfnmxtOlbSp3p2+QE3CRXUGXfOzKY0YYNiqjliKFWx/YSHKpY3pSaVs+MdYJ7bRy1B7S+2Lk2MoyetlK8/8K9D2bs2OF42itnJKjtAj/yRHIHH4G30K8JBfA6jVKS2JKSDejKk9L8OaJ5lNcswUaB2yfTXVDpuJySp9Qpt005sjUxEH/mpTNjkVcHJ4G4a1HZqpu/2k+VPsyw5jCa9ifTw8PvPXD6rLKZTm4cpCy74UabzKRMLnDeGFlGEn0DtfXBD797yFEszwvwOqeGX/CXmI8uSLrtt0p7GhmBxoCGnuhlexWZp4T7G6CT1RZT0WLrg558Lb2/2t2IbRVEfR8NoMzX5N+KA9VLS8lzMM+VWHKrEbdU1m4XHCn2eSkOHcklKSN2s8ho9/TEC9s/Yw2aVIF86X8PVpEsdKxdOhR6wLnLR/fUI5s3UsWw+PY6LUd1R4a5UCi/lmsHdMmGN3GdkrBGuH/D70YQbQDpqVM2eURnlx/ietKZR5R8ta3g0i5Io8AdinOo3IoCwjrPLMza02YwX8jUYQYaB0jueUVA3tDayOnUkd/CVaWs2GReCXb+SawPn3xV62PJiYDmFGoWA74DXd2NBL8knUZwQsYsLo9gRYrJ6RdjunLJKxQcEgyEsrNBw8/4PhKEfd8ukkMoxw9fnOt5mlvYO8ty9oM1EceZBfkG460Da3T9KvDowpMgEao2BaRJZSERZOqFEVyaFobwwWCk2PJTKvEH3OuGo7S6oCuB/YBFFS75My9cCRbakUy/oPuLDm0zxkq/6blNwDFj1xJRHcaYwsSos7SGZ4XGsLAD+brwY3V1mLHOODQKJL+vVyY/xqBg/ngNXlRwg1o9O0Qzu21B/nLTpaxtDHr4mI/wwH1YIU7WoGZLWNC3amo4WiAzF7/84bDt5TDbHsPPlkMggn0FkUjj2H0BrPGJJfAQ65e+xIG1hbRqyNrvplDph7EXzgUJvvne0AbWUnmKEX0+nHG665Ga1yepu641bZRlprjbqdcgdp6k5ecsoLKDd0S8GoT6NT7ZlxaZXLXwiFhDnc8/5ttS0rn4OaIGeAplPoYdYc11hNFUds10BWqgvPNPkqbdAqFS2NO7z9qkjH71/es+v0RQqSHKplfj/oSgPBDuCWaf+WoXTXthAw9RrFgv6+uTskQk7HrOqgiqOea/kU9uR5iEa1yjjPMnkFdXvD+rKrvPrdwcn9NKeenlGrp7elaTSTsKe0hXEWedHWSXsgLmrm6vO5RQcDqP/gOKWLncagM/Z6XYIx/SUVmxOFAPBVBBLd4o/8MlMr9iaVfpAStGaxwL8hRM9JzXL9hcjTLVsvTKMaKEeyFs8mOhsuY73H6i+zOVMavUtum4DX/W/+INqtJ95kosIRSxijcJTuFdZjTH3rnALC8pvI7ko38H9o4s7DdGtptv5wKSQ5KS0G7mldb0Nm2TDmlXU/NDFXR+qyy0xfqXLuh7jZ7ZjSXtaJnvTa8hlwI/mIsotIu5kSPwOmjg9g9fJ9foHe9Pt6O17pvGS8XRGj7AG5PPDvD1lxdw3lZYl9a6JUVnG22CbngqcLBqnXl7wZuKeqyFf3NFArN0eSOAm1AYGNSqKRrHUtyKFp8R8oJoYpW6XrHjN8mZATib1o205JMVdMuuUlODo0RPcynJVmlQfigSi2X4nRAlgedzXW3gWsWzVTVUJYOSkolRuETujHnVcwuUgTojXS4p9/aV/U8650JzPov8NR6twdqfSRwIKqgq7gbaOa7vaMV6ySmdgCFFy6lMSWSuWGMVauk45i23eyq6dj4tZu7qjeB8xajgMdlg884DHtDdBaeIx0Djf3KdTOADCJwFKf79EzLX6pPiX2JsNAGHwJX1Gx5cRVMjw5P+vOLkVcbTt3cRx6WQo5erhfNBeREgohHfGe4L9osyuOGsRb/SgDR0iGyiArGC83VzxpHBrZEtNCHkWmHryPcHmftXd9tsoV0/pKuk7CJJJaY5JXLeFOc6Q4Sjtrn0gXiawjMpWS5vLtyldOFWz5pb5qqy1166LJHFJYrP4usA6yaSfhz0KBgBFVMirk/642N2Yf33FYzwUQAKAbM3l2y5tkpdf8MprdglCMeNS8+MFf0jMCdNTvYGWtfrwNQZIs+FeRmplsgV6FZePQUugkYDN3KO65vnjqPARZj6aOaNnnLp4pZnwKnvXzsVZv5Jni/zdJpCmgg7epXIa8qNOP7FcJ003h/7lFxTtLBxLWCB9ePACN0CZaqP9fVvOb5ioWUs4NjnJmbdBXItkS6rNM8R+T02/tNd4Li0CWGiDwTbtE8tMjX814Iqneh3wupdl/P5Y5kc/7/TjxUE4y0XGWgdCrRvCGIxCXontTlEYLGuEvpmOiJEexBMI9f6ag4Vzvw4/Dkd3jhg+ClIldEJ9gGv6dBtuC8gR47+8lVC4zNfnnQU/wTty8v0X/hhe+VkWqoLyjmXRmepx5YJ6hNfz/MjXgpNw9GWUiitVPqxScDNE+Fwj90ICHFGltrCdacw77TKCqY7bPOOL+vmWsuNgxsYGDjFkpntj/g5dTH2kJpz/f3Uju1mHuxDrho88Mwk0Zs2SfdO8Yrp3kJL1zX/FbOevDiii9UB40GYUJK/QytDR4ZPTuywSVFOFioHVqZLf4JmJuuqouNcMJXtZOHtvOiulmP8qNs85S2P8J4ksby4cZaY8YS7bP3iN/Ix5Rq6jvBxZWLDi7YJ1VfkpGvTDAsxK2uHZRB5C8uJbjj8Q97LRam0ZsyWUIiOCyd2giaBlC6ElVYT8wsLUMqUhf9oiPsGm3s1ZqJ4YJpLZqB9HbIelhiit5et09V/psEyLOVGFPsAis0Cr8G705r4ahws2f2lzUWMH8ixTEME5WwY5Th06SqzOLCkgY8ZYLZW5/DBBcIAEnYktXNQ7vZPfttkJEqv1EjiBg7+ngxxCMvj0PsSJawmx7DlWhrSeyyQzFOuXoIcsuav9yMRYIkgdJYR/A1FH4GoUvFT6AW3IYtonNOz34Co8Xy0BJLPtqibNC3T9dp86MU5zy0D5vAgPxOVSC6IzaBLQh0B6++7IyWvGGpeGP8jnjL0jiFppYHcyCh9QpjKUrGFjEcL+NlBHCb8/8hO7MW6D6CGOmsoyPDYsPrIrJ83Y/NgbVgZRiBBIRv+YCYZXpTe8WaHxlPHpCDteIIhZpRUGw8bK6OiUkzM25+eRxd0IIPlC7hnXvxWET6+f8vKHMHGx0nNZxNiOyjj3SERZvAVaixm0urs2FlzDLQkRy0aB8fu4yD+edjintFoLzL7anFMUqL2VVSsEZC4aB78naZikN2+cICngdXJid/wzg0xX43ZB6yJER9AX9OgVMsGJQLSuJotTr4aXveJvn9UDeUVSkrzwtirIAKd7DUNNfQjPmV5u5kr8gdG6ysqzdsYqrhbioiB0oVy5MdPVyDKfnAOb1SIRRR+ezAvMpoGQ1+ywl1yuX9WEEKx1ThHIGXo+4x16Nuu7DAwWb8TDx9VbnLqNbKvJG/CbkeJHiDkHJ+ZUjCoOFwhjowvcIdfy3g46Mzm509KfRvIRCmK+lXCIprvisJiVZNSal722s5UCEGLqmmRqMFUYcPpSvwQiaH+rmQ2HnYbEp/tSBunN8tcMMfVVv5d6xMBe7L08Mbp0Aw1cKU8YcXKr+Dm6D+UqzXR/T9meNmsnmIkPilggonOP07A5hikGsYJcXp5kixy+p+2xul3jFm9IlJUCd+iywU/h3Not8wNQyGi4zWXeBYQrhsDg824zoy0jQyuMML8ykDwjZe/RB6+sR1Gau+aVrCncN6t6Cq9MXdFgu97kz+o5AlyPLrJv9JB83RKHZcuSvgYvaNVU42lUKysHtalB8nKmyPwaC3XWvnzbdWHBP+rt4DClNpBjm2ixBhHEslCyKnR6G7xkdgEPxrQYQiqiUd1mTjq0540wTpou3j4hoZW+WfRkwcw1fIOFmW+Zy34UJ+sH0Rrauo1WDdjZtO0CgYN0EdzIoRvBiM5j4u4dzHDii4V9uxTeeJWGy6UkBSA14lwhVziYpPyPdmPilK1MRXidQ+Lp5bBlLCsOQbLCZt9sUvYaTs/AELp2MJfCif0Ifaga6LUeybEYVSpIcQYmN4uzWEG7N1LBN3MuR5Pqoj7O5tFxpz5nWmM5NJI4OD4RqX6ty6jSFzj+d+3kmN1dPVbogZ9/MQ2gVzTlsQRPVESsBnmqA1XDn/tWwHYy0NS1jLBEmqvUYkxAiultbExnn/k3UUnOkxOoKdMq84fMeYfKwHFegCGVrRyKh83fu+ofH2Pg8B3qGunkB/oRAMKQwlwaVAa6b/1/xFsnXMjN54e0yjFe1gCYrwm9F4iEKm6GKxIHgPrkUyi8ffcsH/xuwGRrpQxLlfdxywd8ntNiZNQYTiPC7k4HJ+MrwVBppm8UFNtgPHQkgOmDgiJaL2hX1B4hnr4+Q+R7Queluh8eXpQ2HUDrkVwdIWCD70AINyWc6amdtU6bIaNP9xn1ngBkd/Y5mkR5B9sV3FCGjJadE1wRV2MgjYKyjodXmmnqYa577aL1DH8DWhUxEquszHiovGWhzw/SffV3H4o4PjTPHi8tr9cHBb+C5JXkTMKaA+MjpJa3sTon7dQXWnAVkaByNfBU1WYmYyRlkwWbE3hFHiYL64K4uorh+IbxuCCpm4gGKV2iUuxL/oUjukuRjKPYRls6YI1VfW/fAkgBuxbvVrtGnXZo8wUuqOAN4CiHHNKi8kRdw+BIfACyuDhTSwI/0BgiBH+ZWpZMwzRaixdtkhSGVDUBatRl4nltojnKFOPozy8B/sG4OZb5Mp40qNNuECEV5ehcpBgZp1y7ZbXmFaGc1RkPxaI++7OJ/kWJAGd/Sudt0vKsUGOyz3y5Z1wfc2LGHDV749OwP3liGks5Fl34HuF8M9fFIqUYRjBhUh5Yn7nbPgFepjedNmj/77MjLkC6dyAFhJLnqKurVl2VAOXqqwJTDXV8b6/mdDbo1UWt7iClDCMcosM6gi7419XWuOhnWs6IqpOdvhYkl/zye7/Wx2KP84+Cfuqh9/uH0IApY3nlH8+OkBP8QNiBcMgWYQU433p0vULx7JjI5f2hbHIT6Q4F7BSqdTPJruMdnMKC5O2tawuEJuUvF0c3cUAZBSOI1s2i077CeHpvTVyrCjfiIbAg7fBhD6kpi0KTPcSXsHLk7cpnV0s9t/Jigv92xKCt9+ZeOIXYbsbzvf492v83ccXBvA6mbgMyoGx1O8YnduZwRB8k3KFV7TOT69zVk+jmXYksNfO4Eg8bo57nL/hsKY3SI3virDb72yF5LJqT5BkXWgFxyU3zLVA87QsBJtjl9Hy6rotmSNwHxwY2z5ItCBJgtvSYPtHaVUiF9D43lXjiG5K2EMREGwEye4wOSFH/o7+1QBvt/ohm8O6bfAgqV3EnVrxA9ClgP46ptXeVcZuPG+7asuqlc0TJYoQjKKKDR0SSnyB+1uUHQzO6vS+SN4JxqYKXrfndM53t+nNtueeNp6HC8A76Bg1BszVYYJBlYNndmOK8wzQbpHuozyG7zCzjEM3JWhLq6aabiCl2fsAtALRg/A3eoKZAoqhjWcXW1/LSvmafxyBkf/ioL1czYbY5mC24hmDElxkUhGLYx7GxgFqacZJGYGxgkHwP4F5rY1OacRLbScP+TzwlZYmeFAG5govqy8ZpCNyoEoCS+8idjDeIc47N68vcoUoJBEeCtpMoourikn910jug6cC103C/9Q5J0aH3u3mU7PBg1NrG+0xesEuWV5lFBDs4qRcpr0zZb1wEHU1OAZmOrzv9VgUUPHDhjNPS1K5n8SPvAyKOOeaT3ih1nWA1IkdxA80iVnQslL0i+q8ra1GGZsff27xEsnXj6khJt0EWWpiNaIXWLMirGVX7R54FODUYr7fVU6hBd5XoycvCXwd+AWBwkPKfP9qAODJjnUUTvrKiF1Goonalx+2N9EHerVkLjp937H/RmuX9ZNMuTThmcvRSWLtH9bJWXqSEoCet5WL+u7JQ5tVz2Ql+6VbzN2R9CpOgenJa8Oel7k/4FMColdLm+4uSbDt/pRQuRmgVs/mohMfQK1Ya/Yw33LjBIVaZwxTgUmxvpZvbE2P5o3OiSfKH/tFEyqykyGGysgvIOBDJnEsIN8GPAyTQDvOprMNdReWVs3XVmexWbGShWeebIWceYs40PFNNbuaQSss9cKA1a5TENKS4zhmLcw7exwuSmQtUYYCYkno84CFVeLFDNv3vJZ9dl+ZZJH70hziODISw1l2jKpJcobva/GO0BWbBWqlGRaLJZdlarr/pmzOD4pwBgrNtoDwYgNG8vPzj6x/Dp/TnsO1gjEtqBD5xnNN/E9WeUP5nSzR34RjXCJFdwGpHbpv9FiWU43RaPPVIPw79E4I4cmrYY/O42MKtNvveQr20hvETlnHjyMA4vesq4sUuski4HVh8XCFmppRnWPYVVVm7k3ielcw3tN1yvkmH/AHr72cpGT7mx35msUdNXkOBqCGDkUzwr3BcaPTVpvO2WJqGyO+WtzTRADjDLxNptqKD86+91Mh+BwsD7pwk1nw2+92tzXLPpG0i3BjcKvZKYQlXhJvTmOzgSkbPjlLVgAU9eD91SqM2SqkJoy/k/GmdaumSr5Am5YNaUbOQ6O+EKMSw9YuVkYzAE26CG4Cz8SUmIJz8Vi4p3eHd/SxhRn/cmzVsbmUGThaLUuSe50DHlIRpmcX6sIwOukQ+13VptAaITfIvSOf2B/iemAgel9avjsIdOmbFNFxtlgDeLDTm5sedg3l2uDGY0HTGWH/NxhGd1czsjKVWPSfV0ngkdwUkrD4uiwpLxur74adVEbmGD3wiehQ7IYBRI/Hr77feHJIfgsxZxMoaE/6BXmK8wQpOaCdBLRDqrcfR46GwCB54yNXBG6pPlNL8HSsE1SSlsHfVDPcMuGbWrfvuxuLNLlHJ2jqC6jtLnH7231JCL+87Tq1d03HFRgSOuoQ9KzghbnT5fAUn/v6esfGw1GmJAfNZKuZQNAgSG4wx4RSqL+Xql8vrMvUWm2xe53VbZCEePbJYXYRz9/feYoLQL+oOiM5UDiGZ5hLGpJmS0H7pPtWl3Ydj0V/2qcx2pngqB21+tGkUnyl7afcS/UKuWZ01M0HPGH+j4x7FY/AI3T8vdQBcvuEO14o6kqgTSAImvjZNNztTeUMuqdWeaC6fpinJL1XwjqQH+qGGt6BWmapWLQAcR8AwkbEgswWDHSs6/NBixQfETa5Is1JUhu+QKFgiKEwpLSJwZBOCfTgjnrQYNtMyWDkkvH1IfQbFlNHE/d9mo6SiI9pzCzU+IANUOSuRE8eUlc4X85urdHjfJylqq2l9NbOopNcZ3lUvAv3rsFCdv6+HhJ1Gl0IfzIb9+Y3YPwdnV1m30j+RMy+Un2ICkgfteotx9Kqm3amoNtnxZ7BMgC7oo+8gkW0+ffYswsNdQulY7ugewAa+EZUGTVh9DMY8cwN8NXkHfKwNlbkPRii/4zrdz6YuEdsZhhDWcayqLeoXG5+WAhH8Og7MG0LsMG47iAYFRib9v0Z+kVjNSTnnOY8EP/xAMpAzEWyYDdersqowyn1uuJNMLAX2lB+SZyQV3mwrwxyQXNQhFAeke0AnRzprbU+Ow29oRBcNtmsmJlPStJ3ugLl+Ta7xA62yBILtJSxOlIattH4qButygO87bN2cvUw3Ys7t60CGy2pZHeDVEvZqkhg2Xk4JKIz3Q35tKkis92fpBShulAI1iNzR0NdKzgi0g+67yXVSQKp8VkHvuwP6aXetE4ElYzYNUwohOCj0RNDzDYVX1YNeI22bS3yuVHn3hF23d7TaKE0ZiehmtOt64C1I7GGxqOXovXGilp5ukbxLU4t4vcpuvq2kp7CWqd1nhpoMJBSR/1n0Mi8qGSKsttFyw+qY57cglqu2Q6sSCnzingBSwFl8rogSUdfocBkPiVVIXBcujcklYBNs0C1rYoj92mAVoFDRovs1yXMtdD2yErgDljOefQ7QJTkwpD0vbvUaUMxaNwojh/qgj9BALPEoy+Oofqgn7vsG8qW+O5jPkOv4KGtHuJSSV/SrurVVVI6FrMLwHhMSG/u4iB2BG1hpe8dpbyNeWp4b6lnLp4EPP4ptJ1bigMquNXCZIPWv4SuxlcxD5s17H4rdgKC4XDrDVoJvyrB2BkmD4xgW5icKxHQNwDH3+XtP4B37ZHISUbHuY3gcaUa4aIGWh63WtKvEFGqlUjQ8wYUWkLQ05pRhbdfoRKwMwPadl8EWmuNrZZEEc0bAumzRd4oIxqGaab+Bw9rbT159CFCYuyVUO6b4b7cwix8+t2Jt6APaH9G1FkOMyzAXVyftatkG1Qbjs4bYK/6YNc8ggAwqvXJleHUoaseKRT+Ie4c/PbIjjqZXg4E3+f0zkflksprFI4rBZtv7yrJyghQEpSG+7nTkTb474N8KRmBgkPIPJphDdGtarl5DrwWCeGzec3N9IPGYilzbnNNheC/+MMed6Lafe2IFha2Sm6TOreccyKEiIPPwpXGXj09XpAS7sEUGskeEnj/mUsev0Zgry6vLMZYzD0fCe5FpC28Vei5lx9MgpD/HKWWAosMv7BL1MhRJaBrvgCYsNUN2"/>
   </div>
   <input aria-haspopup="true" class="accessible-hidden menu__toggle" id="nav-toggle" role="button" type="checkbox"/>

In [12]:
ranking_table = soup.find('table', class_='ruler') # Find the table containing players data
print(ranking_table)

<table class="ruler" style="min-width:762px">
<caption>
		Men's Singles
	</caption><tr>
</tr><tr>
<th class="orderby rank" colspan="2"><a class="down" href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=1&amp;desc=1">Rank</a></th><th class="orderby"></th><th class="orderby left"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=10">Country</a></th><th class="orderby left"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=10">Player</a></th><th class="orderby left"></th><th class="orderby">Member ID</th><th class="orderby right rankingpoints"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=2">Points</a></th><th class="orderby right"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=7">Tournaments</a></th><th class="orderby"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=13">Confederation</a></th><th class="orderby"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=12">Country</a></th>
</tr><tr>
<td class="rank"><div style="">1</div></td><td class="rank_equal" title="Previous rank: 1"></td><td></td><td>CHN</td><td><img alt="China" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/CHN.svg" title="China" width="16"><span class="printonly flag">[CHN] </span><a href="player.aspx?id=42511&amp;player=990139">SHI Yu Qi</a></img></td><td><a class="icon profile" href="/player-profile/38CBD70E-A643-4170-9E6A-28863412DC7B" title="Profile"></a></td><td>57945</td><td class="right rankingpoints">101815</td><td class="right">18</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=AAAFC650-A51F-42D1-AD4C-E0F53569D04B">China</a></td>
</tr><tr>
<td class="rank"><div style="">2</div></td><td class="rank_equal" title="Previous rank: 2"></td><td></td><td>DEN</td><td><img alt="Denmark" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/DEN.svg" title="Denmark" width="16"/><span class="printonly flag">[DEN] </span><a href="player.aspx?id=42511&amp;player=147387">Viktor AXELSEN</a></td><td><a class="icon profile" href="/player-profile/3BF0C3EA-7BFB-4CC9-A955-3712D850CFA4" title="Profile"></a></td><td>25831</td><td class="right rankingpoints">93790</td><td class="right">14</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DF30371B-9D1A-4322-AF0F-182B40D3C4F4">Europe</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=58BCE2D9-0DC7-4FDA-8205-A508ABCF0841">Denmark</a></td>
</tr><tr>
<td class="rank"><div style="">3</div></td><td class="rank_equal" title="Previous rank: 3"></td><td></td><td>DEN</td><td><img alt="Denmark" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/DEN.svg" title="Denmark" width="16"/><span class="printonly flag">[DEN] </span><a href="player.aspx?id=42511&amp;player=396249">Anders ANTONSEN</a></td><td><a class="icon profile" href="/player-profile/473960FD-334B-476F-9821-8ED9398BC1A8" title="Profile"></a></td><td>91554</td><td class="right rankingpoints">84241</td><td class="right">22</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DF30371B-9D1A-4322-AF0F-182B40D3C4F4">Europe</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=58BCE2D9-0DC7-4FDA-8205-A508ABCF0841">Denmark</a></td>
</tr><tr>
<td class="rank"><div style="">4</div></td><td class="rank_equal" title="Previous rank: 4"></td><td></td><td>JPN</td><td><img alt="Japan" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/JPN.svg" title="Japan" width="16"/><span class="printonly flag">[JPN] </span><a href="player.aspx?id=42511&amp;player=1561759">Kodai NARAOKA</a></td><td><a class="icon profile" href="/player-profile/7804BE61-F954-4C46-9E72-FED84BDA7FEB" title="Profile"></a></td><td>62063</td><td class="right rankingpoints">84197</td><td class="right">22</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=ED6A6925-0864-4D24-8332-4C33F29742A5">Japan</a></td>
</tr><tr>
<td class="rank"><div style="">5</div></td><td class="rank_equal" title="Previous rank: 5"></td><td></td><td>MAS</td><td><img alt="Malaysia" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/MAS.svg" title="Malaysia" width="16"/><span class="printonly flag">[MAS] </span><a href="player.aspx?id=42511&amp;player=318753">LEE Zii Jia</a></td><td><a class="icon profile" href="/player-profile/21E9EAF0-5C86-416F-A942-C3ECA088ACDC" title="Profile"></a></td><td>81561</td><td class="right rankingpoints">83716</td><td class="right">22</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=412A5C75-4487-4EBB-BC15-EB63C56A6A3B">Malaysia</a></td>
</tr><tr>
<td class="rank"><div style="">6</div></td><td class="rank_equal" title="Previous rank: 6"></td><td></td><td>CHN</td><td><img alt="China" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/CHN.svg" title="China" width="16"/><span class="printonly flag">[CHN] </span><a href="player.aspx?id=42511&amp;player=2481091">LI Shi Feng</a></td><td><a class="icon profile" href="/player-profile/F3151E6C-C49B-41D8-A71C-4EA437ECA8AC" title="Profile"></a></td><td>95476</td><td class="right rankingpoints">82996</td><td class="right">18</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=AAAFC650-A51F-42D1-AD4C-E0F53569D04B">China</a></td>
</tr><tr>
<td class="rank"><div style="">7</div></td><td class="rank_equal" title="Previous rank: 7"></td><td></td><td>INA</td><td><img alt="Indonesia" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/INA.svg" title="Indonesia" width="16"/><span class="printonly flag">[INA] </span><a href="player.aspx?id=42511&amp;player=409860">Jonatan CHRISTIE</a></td><td><a class="icon profile" href="/player-profile/6A537DB2-42E4-4604-81DF-6D1ECF387DCE" title="Profile"></a></td><td>73442</td><td class="right rankingpoints">82117</td><td class="right">17</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=6516CB55-F117-49F3-95E3-10CF05DEDFF5">Indonesia</a></td>
</tr><tr>
<td class="rank"><div style="">8</div></td><td class="rank_equal" title="Previous rank: 8"></td><td></td><td>THA</td><td><img alt="Thailand" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/THA.svg" title="Thailand" width="16"/><span class="printonly flag">[THA] </span><a href="player.aspx?id=42511&amp;player=1192211">Kunlavut VITIDSARN</a></td><td><a class="icon profile" href="/player-profile/66BFCA58-F3D2-40A2-9454-F1E0470675CF" title="Profile"></a></td><td>64032</td><td class="right rankingpoints">80458</td><td class="right">17</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=2A866F5B-891D-4709-95A0-53734D672BA3">Thailand</a></td>
</tr><tr>
<td class="rank"><div style="">9</div></td><td class="rank_equal" title="Previous rank: 9"></td><td></td><td>TPE</td><td><img alt="Chinese Taipei" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/TPE.svg" title="Chinese Taipei" width="16"/><span class="printonly flag">[TPE] </span><a href="player.aspx?id=42511&amp;player=109227">CHOU Tien Chen</a></td><td><a class="icon profile" href="/player-profile/41A01287-FA86-45C1-B980-860FC1C2DEB4" title="Profile"></a></td><td>34810</td><td class="right rankingpoints">71877</td><td class="right">30</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=86079574-27B9-488A-B70C-D21D88BAE227">Chinese Taipei</a></td>
</tr><tr>
<td class="rank"><div style="">10</div></td><td class="rank_equal" title="Previous rank: 10"></td><td></td><td>INA</td><td><img alt="Indonesia" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/INA.svg" title="Indonesia" width="16"/><span class="printonly flag">[INA] </span><a href="player.aspx?id=42511&amp;player=389169">Anthony Sinisuka GINTING</a></td><td><a class="icon profile" href="/player-profile/116CDE79-DCC5-42CD-9EC7-1157B92902EF" title="Profile"></a></td><td>95661</td><td class="right rankingpoints">71835</td><td class="right">19</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=6516CB55-F117-49F3-95E3-10CF05DEDFF5">Indonesia</a></td>
</tr><tr>
<td class="rank"><div style="">11</div></td><td class="rank_equal" title="Previous rank: 11"></td><td></td><td>SGP</td><td><img alt="Singapore" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/SIN.svg" title="Singapore" width="16"/><span class="printonly flag">[SGP] </span><a href="player.aspx?id=42511&amp;player=347214">LOH Kean Yew</a></td><td><a class="icon profile" href="/player-profile/64D7D22C-CE54-4C9A-8EC3-70D9C7CEED71" title="Profile"></a></td><td>76115</td><td class="right rankingpoints">64233</td><td class="right">23</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DA3FC7CC-CDE4-44A6-AB1D-F42B609A219F">Singapore</a></td>
</tr><tr>
<td class="rank"><div style="">12</div></td><td class="rank_equal" title="Previous rank: 12"></td><td></td><td>TPE</td><td><img alt="Chinese Taipei" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/TPE.svg" title="Chinese Taipei" width="16"/><span class="printonly flag">[TPE] </span><a href="player.aspx?id=42511&amp;player=1617833">LIN Chun-Yi</a></td><td><a class="icon profile" href="/player-profile/32AED508-B513-411E-8306-FEDBEDD0A5C7" title="Profile"></a></td><td>86114</td><td class="right rankingpoints">62801</td><td class="right">28</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=86079574-27B9-488A-B70C-D21D88BAE227">Chinese Taipei</a></td>
</tr><tr>
<td class="rank"><div style="">13</div></td><td class="rank_equal" title="Previous rank: 13"></td><td></td><td>JPN</td><td><img alt="Japan" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/JPN.svg" title="Japan" width="16"/><span class="printonly flag">[JPN] </span><a href="player.aspx?id=42511&amp;player=239769">Kenta NISHIMOTO</a></td><td><a class="icon profile" href="/player-profile/F652F6F8-48D5-4B3A-9A00-5E456A29B7C6" title="Profile"></a></td><td>85394</td><td class="right rankingpoints">62262</td><td class="right">25</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=ED6A6925-0864-4D24-8332-4C33F29742A5">Japan</a></td>
</tr><tr>
<td class="rank"><div style="">14</div></td><td class="rank_equal" title="Previous rank: 14"></td><td></td><td>JPN</td><td><img alt="Japan" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/JPN.svg" title="Japan" width="16"/><span class="printonly flag">[JPN] </span><a href="player.aspx?id=42511&amp;player=1069030">Koki WATANABE</a></td><td><a class="icon profile" href="/player-profile/71F9CCD6-EC2B-460D-B143-A796AD3E3BC6" title="Profile"></a></td><td>97174</td><td class="right rankingpoints">61034</td><td class="right">20</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=ED6A6925-0864-4D24-8332-4C33F29742A5">Japan</a></td>
</tr><tr>
<td class="rank"><div style="">15</div></td><td class="rank_equal" title="Previous rank: 15"></td><td></td><td>CHN</td><td><img alt="China" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/CHN.svg" title="China" width="16"/><span class="printonly flag">[CHN] </span><a href="player.aspx?id=42511&amp;player=1929271">WENG Hong Yang</a></td><td><a class="icon profile" href="/player-profile/43FDD4D9-5C6C-493E-8DA6-EB11B6BFF98D" title="Profile"></a></td><td>77042</td><td class="right rankingpoints">59930</td><td class="right">19</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=AAAFC650-A51F-42D1-AD4C-E0F53569D04B">China</a></td>
</tr><tr>
<td class="rank"><div style="">16</div></td><td class="rank_equal" title="Previous rank: 16"></td><td></td><td>HKG</td><td><img alt="Hong Kong China" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/HKG.svg" title="Hong Kong China" width="16"/><span class="printonly flag">[HKG] </span><a href="player.aspx?id=42511&amp;player=279226">LEE Cheuk Yiu</a></td><td><a class="icon profile" href="/player-profile/185EAD78-1D70-4CF1-99DE-EB9645BFA78D" title="Profile"></a></td><td>94780</td><td class="right rankingpoints">58959</td><td class="right">25</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DFD0153F-13B2-4822-9092-D67A97ABCA2D">Hong Kong China</a></td>
</tr><tr>
<td class="rank"><div style="">17</div></td><td class="rank_equal" title="Previous rank: 17"></td><td></td><td>CHN</td><td><img alt="China" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/CHN.svg" title="China" width="16"/><span class="printonly flag">[CHN] </span><a href="player.aspx?id=42511&amp;player=1928758">LU Guang Zu</a></td><td><a class="icon profile" href="/player-profile/8DB65BF4-2593-4835-8ADF-36F6656B4217" title="Profile"></a></td><td>77427</td><td class="right rankingpoints">57551</td><td class="right">21</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=AAAFC650-A51F-42D1-AD4C-E0F53569D04B">China</a></td>
</tr><tr>
<td class="rank"><div style="">18</div></td><td class="rank_equal" title="Previous rank: 18"></td><td><img alt="Protected rank" src="//static.tournamentsoftware.com/images/icon_lock_small.gif" title="Protected rank"/><span title="Protected rank">17</span></td><td>IND</td><td><img alt="India" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/IND.svg" title="India" width="16"/><span class="printonly flag">[IND] </span><a href="player.aspx?id=42511&amp;player=161366">PRANNOY H. S.</a></td><td><a class="icon profile" href="/player-profile/9906AA55-580B-465A-8782-2251A4912DB9" title="Profile"></a></td><td>83950</td><td class="right rankingpoints">57292</td><td class="right">16</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=1FE14BDB-553D-4E5F-80BC-7401F484B14A">India</a></td>
</tr><tr>
<td class="rank"><div style="">19</div></td><td class="rank_equal" title="Previous rank: 19"></td><td></td><td>FRA</td><td><img alt="France" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/FRA.svg" title="France" width="16"/><span class="printonly flag">[FRA] </span><a href="player.aspx?id=42511&amp;player=674117">Toma Junior POPOV</a></td><td><a class="icon profile" href="/player-profile/18243FD1-E275-4DE0-9839-4A745A1D4CEA" title="Profile"></a></td><td>61628</td><td class="right rankingpoints">55815</td><td class="right">22</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DF30371B-9D1A-4322-AF0F-182B40D3C4F4">Europe</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0F8E17C1-FC1A-4584-A61E-40A81EFD2F11">France</a></td>
</tr><tr>
<td class="rank"><div style="">20</div></td><td class="rank_equal" title="Previous rank: 20"></td><td></td><td>IND</td><td><img alt="India" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/IND.svg" title="India" width="16"/><span class="printonly flag">[IND] </span><a href="player.aspx?id=42511&amp;player=646810">Lakshya SEN</a></td><td><a class="icon profile" href="/player-profile/308281C5-9A0C-4016-B8BD-672AB2D833A7" title="Profile"></a></td><td>68870</td><td class="right rankingpoints">55428</td><td class="right">16</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=1FE14BDB-553D-4E5F-80BC-7401F484B14A">India</a></td>
</tr><tr>
<td class="rank"><div style="">21</div></td><td class="rank_up" title="Previous rank: 25">4</td><td></td><td>HKG</td><td><img alt="Hong Kong China" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/HKG.svg" title="Hong Kong China" width="16"/><span class="printonly flag">[HKG] </span><a href="player.aspx?id=42511&amp;player=109501">NG Ka Long Angus</a></td><td><a class="icon profile" href="/player-profile/B701FB3D-0671-4249-8AAA-758FE92E72C5" title="Profile"></a></td><td>45171</td><td class="right rankingpoints">54976</td><td class="right">25</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0EB2BA3B-3867-465E-8D04-CEDE4A566474">Asia</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DFD0153F-13B2-4822-9092-D67A97ABCA2D">Hong Kong China</a></td>
</tr><tr>
<td class="rank"><div style="">22</div></td><td class="rank_down" title="Previous rank: 21">1</td><td></td><td>FRA</td><td><img alt="France" class="intext flag" height="14" src="//static.tournamentsoftware.com/content/images/flags/FRA.svg" title="France" width="16"/><span class="printonly flag">[FRA] </span><a href="player.aspx?id=42511&amp;player=2017832">Alex LANIER</a></td><td><a class="icon profile" href="/player-profile/F01EAC7A-8319-4695-85D3-869A0EDE2DB5" title="Profile"></a></td><td>94580</td><td class="right rankingpoints">52290</td><td class="right">17</td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=DF30371B-9D1A-4322-AF0F-182B40D3C4F4">Europe</a></td><td><a href="category.aspx?id=42511&amp;category=472&amp;ogid=0F8E17C1-FC1A-4584-A61E-40A81EFD2F11">France</a></td>
</tr><tr>

In [14]:
table_columns = ranking_table.find_all('th') # Find the all table columns which are under 'th' tag
table_columns

[<th class="orderby rank" colspan="2"><a class="down" href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=1&amp;desc=1">Rank</a></th>,
 <th class="orderby"></th>,
 <th class="orderby left"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=10">Country</a></th>,
 <th class="orderby left"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=10">Player</a></th>,
 <th class="orderby left"></th>,
 <th class="orderby">Member ID</th>,
 <th class="orderby right rankingpoints"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=2">Points</a></th>,
 <th class="orderby right"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=7">Tournaments</a></th>,
 <th class="orderby"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=13">Confederation</a></th>,
 <th class="orderby"><a href="?id=42511&amp;category=472&amp;ps=100&amp;C472FOC=&amp;order=12">Country</a></th>]

In [16]:
# This filters out empty strings: table_columns = [title for title in table_titles if title] (Don't need this in this project)
columns = [column.text.strip() for column in table_columns] # Convert all columns into a list for a DataFrame creation later
print(columns)

['Rank', '', 'Country', 'Player', '', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [107]:
row_data = ranking_table.find_all('tr') # Find all values in each row which are under the 'td' tag
#row_test = [row.text.strip() for row in row_data[2]] 
#print(row_test)
individual_row_data = [data.text.strip() for data in row_data] # Convert all values into list
individual_row_data[2]
#individual_row_data # Check if the amount of values in each row matches the table column which is 10 from the list above

'1\xa0\xa0CHN[CHN] SHI Yu Qi5794510181518AsiaChina'

In [194]:
# Turns out there are 11 values in each row. To match these data correctly with our table columns, we need to add another column in the table with the correct position.
columns.insert(1, 'x1') # Add a column called 'x1'. Don't worry about the vague name since it will store no data then we will drop it later with other unnecessary columns 
columns[2] = 'x2' # Rename the empty column as 'x2' which will be dropped later.
columns[3] = 'Country Code' # Rename to differentiate with the Country column.
columns[5] = 'x3' # Rename the empty column as 'x3' which will be dropped later.
print(columns)

['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [196]:
df = pd.DataFrame(columns = columns) # Create DataFrame
df

Empty DataFrame
Columns: [Rank, x1, x2, Country Code, Player, x3, Member ID, Points, Tournaments, Confederation, Country]
Index: []

In [115]:
all_rows = ranking_table.find_all('tr') # Find all rows on the page which are under the 'tr' tag
test_row = [row.text.strip() for row in all_rows[2]] # Convert all columns into a list for a DataFrame creation later
print(test_row)

['', '1', '', '', 'CHN', '[CHN] SHI Yu Qi', '', '57945', '101815', '18', 'Asia', 'China', '']

In [200]:
for row in all_rows[2:102]: # Create a loop to get all row data and add it into the DataFrame df. Range from 2:102 to get rid of the headers & footers not being part of the data we need, and to avoid error of mismatched columns.
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data
df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHN,[CHN] SHI Yu Qi,,57945,101815,18,Asia,China
1,2,,,DEN,[DEN] Viktor AXELSEN,,25831,93790,14,Europe,Denmark
2,3,,,DEN,[DEN] Anders ANTONSEN,,91554,84241,22,Europe,Denmark
3,4,,,JPN,[JPN] Kodai NARAOKA,,62063,84197,22,Asia,Japan
4,5,,,MAS,[MAS] LEE Zii Jia,,81561,83716,22,Asia,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...
95,96,,,IND,[IND] Raghu MARISWAMY,,62932,19070,18,Asia,India
96,97,,,PER,[PER] Adriano VIALE,,55942,19018,15,Pan America,Peru
97,98,,,GER,[GER] Kai SCHAEFER,,20808,18741,19,Europe,Germany
98,99,,,FRA,[FRA] Enogat ROY,,85118,18630,16,Europe,France
99,100,,,SUI,[SUI] Tobias KUENZI,,60427,18238,17,Europe,Switzerland

In [202]:
# Dropping the columns 'x1', 'x2', 'x3'
df = df.drop(columns=['x1', 'x2', 'x3'])
df

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country
0,1,CHN,[CHN] SHI Yu Qi,57945,101815,18,Asia,China
1,2,DEN,[DEN] Viktor AXELSEN,25831,93790,14,Europe,Denmark
2,3,DEN,[DEN] Anders ANTONSEN,91554,84241,22,Europe,Denmark
3,4,JPN,[JPN] Kodai NARAOKA,62063,84197,22,Asia,Japan
4,5,MAS,[MAS] LEE Zii Jia,81561,83716,22,Asia,Malaysia
...,...,...,...,...,...,...,...,...
95,96,IND,[IND] Raghu MARISWAMY,62932,19070,18,Asia,India
96,97,PER,[PER] Adriano VIALE,55942,19018,15,Pan America,Peru
97,98,GER,[GER] Kai SCHAEFER,20808,18741,19,Europe,Germany
98,99,FRA,[FRA] Enogat ROY,85118,18630,16,Europe,France
99,100,SUI,[SUI] Tobias KUENZI,60427,18238,17,Europe,Switzerland

In [83]:
# Export the result as csv file
# df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\Player.csv', index = False)

### **Men's Singles**

In [82]:
# Men's Singles URL, filtered by 100 results on each page.
ms_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [84]:
# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this info to work with the last page which doesn't contain 100 results as the previous ones.
ms_page_number = 19
ms_results = 1831

In [86]:
# From the Test above, now we know all the columns needed for the DataFrame. Create a list of column names.
list = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [88]:
# Create DataFrame
ms_df = pd.DataFrame(columns = list)
ms_df

Empty DataFrame
Columns: [Rank, x1, x2, Country Code, Player, x3, Member ID, Points, Tournaments, Confederation, Country]
Index: []

In [90]:
# Create a loop to add data to all pages in DataFrame 
# Loop through pages 1 to 19
for ms_page in range(1, ms_page_number +1):
    if ms_page < ms_page_number: # From pages 1-18 with 100 results on each page
        # Format the URL with the current page number
        ms_url = ms_base_url.format(ms_page)
        # Make a request to the URL
        ms_response = requests.get(ms_url, headers=headers)
        ms_soup = BeautifulSoup(ms_response.text, 'html.parser')
        ms_ranking_table = ms_soup.find('table', class_='ruler')
        ms_all_rows = ms_ranking_table.find_all('tr')[2:102]
        for ms_row in ms_all_rows:
            ms_row_data = ms_row.find_all('td')
            ms_individual_row_data = [ms_data.text.strip() for ms_data in ms_row_data]
            ms_length = len(ms_df)
            if ms_length < ms_results:
                ms_df.loc[ms_length] = ms_individual_row_data
            else:
                break
            
    else: # Page 19 with less than 100 results on this page
        # Format the URL with the current page number
        ms_url = ms_base_url.format(ms_page)
        # Make a request to the URL
        ms_response = requests.get(ms_url, headers=headers)
        ms_soup = BeautifulSoup(ms_response.text, 'html.parser')
        ms_ranking_table = ms_soup.find('table', class_='ruler')
        ms_all_rows = ms_ranking_table.find_all('tr')[2:(ms_results-((ms_page_number-1)*100) +2)]
        for ms_row in ms_all_rows:
            ms_row_data = ms_row.find_all('td')
            ms_individual_row_data = [ms_data.text.strip() for ms_data in ms_row_data]
            ms_length = len(ms_df)
            if ms_length < ms_results:
                ms_df.loc[ms_length] = ms_individual_row_data
            else:
                break

ms_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHN,[CHN] SHI Yu Qi,,57945,101815,18,Asia,China
1,2,,,DEN,[DEN] Viktor AXELSEN,,25831,93790,14,Europe,Denmark
2,3,,,DEN,[DEN] Anders ANTONSEN,,91554,84241,22,Europe,Denmark
3,4,,,JPN,[JPN] Kodai NARAOKA,,62063,84197,22,Asia,Japan
4,5,,,MAS,[MAS] LEE Zii Jia,,81561,83716,22,Asia,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...
1826,1767,,,UGA,[UGA] Hassan Jamil MAKINDA,,33916,20,1,Africa,Uganda
1827,1767,,,UGA,[UGA] Latif NGOBI,,29626,20,1,Africa,Uganda
1828,1767,,,UGA,[UGA] Abaasi BBAALE,,89938,20,1,Africa,Uganda
1829,1767,,,UGA,[UGA] Preet Nikulkumar PATEL,,34706,20,1,Africa,Uganda
1830,1767,,,UGA,[UGA] Arafat KALOOBE,,22032,20,1,Africa,Uganda

In [91]:
# Dropping the columns 'x1', 'x2', 'x3'
ms_df = ms_df.drop(columns=['x1', 'x2', 'x3'])

In [92]:
# Add 'Category' column
ms_df['Category'] = 'MS'

In [93]:
ms_df

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,[CHN] SHI Yu Qi,57945,101815,18,Asia,China,MS
1,2,DEN,[DEN] Viktor AXELSEN,25831,93790,14,Europe,Denmark,MS
2,3,DEN,[DEN] Anders ANTONSEN,91554,84241,22,Europe,Denmark,MS
3,4,JPN,[JPN] Kodai NARAOKA,62063,84197,22,Asia,Japan,MS
4,5,MAS,[MAS] LEE Zii Jia,81561,83716,22,Asia,Malaysia,MS
...,...,...,...,...,...,...,...,...,...
1826,1767,UGA,[UGA] Hassan Jamil MAKINDA,33916,20,1,Africa,Uganda,MS
1827,1767,UGA,[UGA] Latif NGOBI,29626,20,1,Africa,Uganda,MS
1828,1767,UGA,[UGA] Abaasi BBAALE,89938,20,1,Africa,Uganda,MS
1829,1767,UGA,[UGA] Preet Nikulkumar PATEL,34706,20,1,Africa,Uganda,MS
1830,1767,UGA,[UGA] Arafat KALOOBE,22032,20,1,Africa,Uganda,MS

In [94]:
#ms_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\MS Player.csv', index = False)

### **Women's Singles**

In [96]:
# Women's Singles URL, filtered by 100 results on each page.
ws_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42633&category=473&C473FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [97]:
# After checking with the filter by 100 results on each page.
# We need this info to work with the last page which doesn't contain 100 results as the previous ones.
ws_page_number = 13
ws_results = 1224

In [98]:
# From the Test above, now we know all the columns needed for the DataFrame. Create a list of column names.
list = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [99]:
# Create DataFrame
ws_df = pd.DataFrame(columns = list)
ws_df

Empty DataFrame
Columns: [Rank, x1, x2, Country Code, Player, x3, Member ID, Points, Tournaments, Confederation, Country]
Index: []

In [100]:
# Create a loop to add data to all pages in DataFrame 
# Loop through pages 1 to 19
for ws_page in range(1, ws_page_number +1):
    if ws_page < ws_page_number: # From pages 1-18 with 100 results on each page
        # Format the URL with the current page number
        ws_url = ws_base_url.format(ws_page)
        # Make a request to the URL
        ws_response = requests.get(ws_url, headers=headers)
        ws_soup = BeautifulSoup(ws_response.text, 'html.parser')
        ws_ranking_table = ws_soup.find('table', class_='ruler')
        ws_all_rows = ws_ranking_table.find_all('tr')[2:102]
        for ws_row in ws_all_rows:
            ws_row_data = ws_row.find_all('td')
            ws_individual_row_data = [ws_data.text.strip() for ws_data in ws_row_data]
            ws_length = len(ws_df)
            if ws_length < ws_results:
                ws_df.loc[ws_length] = ws_individual_row_data
            else:
                break
            
    else: # Page 19 with less than 100 results on this page
        # Format the URL with the current page number
        ws_url = ws_base_url.format(ws_page)
        # Make a request to the URL
        ws_response = requests.get(ws_url, headers=headers)
        ws_soup = BeautifulSoup(ws_response.text, 'html.parser')
        ws_ranking_table = ws_soup.find('table', class_='ruler')
        ws_all_rows = ws_ranking_table.find_all('tr')[2:(ws_results-((ws_page_number-1)*100) +2)]
        for ws_row in ws_all_rows:
            ws_row_data = ws_row.find_all('td')
            ws_individual_row_data = [ws_data.text.strip() for ws_data in ws_row_data]
            ws_length = len(ws_df)
            if ws_length < ws_results:
                ws_df.loc[ws_length] = ws_individual_row_data
            else:
                break

ws_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,2,CHN,[CHN] CHEN Yu Fei,,78778,101682,14,Asia,China
1,2,,,KOR,[KOR] AN Se Young,,87442,100337,12,Asia,Korea
2,3,,,CHN,[CHN] WANG Zhi Yi,,61854,90895,19,Asia,China
3,4,,,ESP,[ESP] Carolina MARIN,,18228,87736,14,Europe,Spain
4,5,,,TPE,[TPE] TAI Tzu Ying,,61427,87111,17,Asia,Chinese Taipei
...,...,...,...,...,...,...,...,...,...,...,...
1219,1194,,,DEN,[DEN] Mathilde SLOTSAGER,,76549,20,1,Europe,Denmark
1220,1194,,,EST,[EST] Karolina PINTUK,,87914,20,1,Europe,Estonia
1221,1194,,,FRA,[FRA] Manon HEITZMANN,,99557,20,1,Europe,France
1222,1194,,,DEN,[DEN] Julie BRINCH,,98323,20,1,Europe,Denmark
1223,1194,,,MLT,[MLT] Martina CLARK,,68347,20,1,Europe,Malta

In [101]:
# Dropping the columns 'x1', 'x2', 'x3'
ws_df = ws_df.drop(columns=['x1', 'x2', 'x3'])

In [102]:
# Add 'Category' column
ws_df['Category'] = 'WS'

In [103]:
ws_df

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,[CHN] CHEN Yu Fei,78778,101682,14,Asia,China,WS
1,2,KOR,[KOR] AN Se Young,87442,100337,12,Asia,Korea,WS
2,3,CHN,[CHN] WANG Zhi Yi,61854,90895,19,Asia,China,WS
3,4,ESP,[ESP] Carolina MARIN,18228,87736,14,Europe,Spain,WS
4,5,TPE,[TPE] TAI Tzu Ying,61427,87111,17,Asia,Chinese Taipei,WS
...,...,...,...,...,...,...,...,...,...
1219,1194,DEN,[DEN] Mathilde SLOTSAGER,76549,20,1,Europe,Denmark,WS
1220,1194,EST,[EST] Karolina PINTUK,87914,20,1,Europe,Estonia,WS
1221,1194,FRA,[FRA] Manon HEITZMANN,99557,20,1,Europe,France,WS
1222,1194,DEN,[DEN] Julie BRINCH,98323,20,1,Europe,Denmark,WS
1223,1194,MLT,[MLT] Martina CLARK,68347,20,1,Europe,Malta,WS

In [104]:
#ws_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\WS Player.csv', index = False)

### **Men's Doubles**

In [106]:
# Men's Doubles URL, filtered by 100 results on each page.
md_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42633&category=474&C474FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [107]:
# After checking with the filter by 100 results on each page.
# We need this info to work with the last page which doesn't contain 100 results as the previous ones.
md_page_number = 15
md_results = 1429

In [108]:
# From the Test above, now we know all the columns needed for the DataFrame. Create a list of column names.
list = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [109]:
# Create DataFrame
md_df = pd.DataFrame(columns = list)
md_df

Empty DataFrame
Columns: [Rank, x1, x2, Country Code, Player, x3, Member ID, Points, Tournaments, Confederation, Country]
Index: []

In [110]:
# Create a loop to add data to all pages in DataFrame 
# Loop through pages 1 to 19
for md_page in range(1, md_page_number +1):
    if md_page < md_page_number: # From pages 1-18 with 100 results on each page
        # Format the URL with the current page number
        md_url = md_base_url.format(md_page)
        # Make a request to the URL
        md_response = requests.get(md_url, headers=headers)
        md_soup = BeautifulSoup(md_response.text, 'html.parser')
        md_ranking_table = md_soup.find('table', class_='ruler')
        md_all_rows = md_ranking_table.find_all('tr')[2:102]
        for md_row in md_all_rows:
            md_row_data = md_row.find_all('td')
            md_individual_row_data = [md_data.text.strip() for md_data in md_row_data]
            md_length = len(md_df)
            if md_length < md_results:
                md_df.loc[md_length] = md_individual_row_data
            else:
                break
            
    else: # Page 19 with less than 100 results on this page
        # Format the URL with the current page number
        md_url = md_base_url.format(md_page)
        # Make a request to the URL
        md_response = requests.get(md_url, headers=headers)
        md_soup = BeautifulSoup(md_response.text, 'html.parser')
        md_ranking_table = md_soup.find('table', class_='ruler')
        md_all_rows = md_ranking_table.find_all('tr')[2:(md_results-((md_page_number-1)*100) +2)]
        for md_row in md_all_rows:
            md_row_data = md_row.find_all('td')
            md_individual_row_data = [md_data.text.strip() for md_data in md_row_data]
            md_length = len(md_df)
            if md_length < md_results:
                md_df.loc[md_length] = md_individual_row_data
            else:
                break

md_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHNCHN,[CHN] LIANG Wei Keng[CHN] WANG Chang,,9053155414,96798,14,Asia,China
1,2,,,DENDEN,[DEN] Kim ASTRUP[DEN] Anders Skaarup RASMUSSEN,,9298044414,91753,20,Europe,Denmark
2,3,,,KORKOR,[KOR] KANG Min Hyuk[KOR] SEO Seung Jae,,7726266513,90415,20,Asia,Korea
3,4,,,MASMAS,[MAS] Aaron CHIA[MAS] SOH Wooi Yik,,5620399389,84315,16,Asia,Malaysia
4,5,,,CHNCHN,[CHN] HE Ji Ting[CHN] REN Xiang Yu,,5967384812,83961,23,Asia,China
...,...,...,...,...,...,...,...,...,...,...,...
1424,1415,,,ESPESP,[ESP] Fernando CIVICO[ESP] Ricardo RETTIG,,9632969882,20,1,Europe,Spain
1425,1426,,,BELBEL,[BEL] Elias BRACKE[BEL] Senne HOUTHOOFD,,6725155858,15,1,Europe,Belgium
1426,1427,,,BELBEL,[BEL] Charles FOUYN[BEL] Baptiste ROLIN,,9970396561,2,1,Europe,Belgium
1427,1427,,,FIJFIJ,[FIJ] Jared CHUNG[FIJ] Robert LOO,,8267255618,2,1,Oceania,Fiji
1428,1427,,,COKCOK,[COK] Brendan LEE[COK] Emanuela MATAIO,,1988993996,2,1,Oceania,COOK ISLANDS

In [111]:
# Dropping the columns 'x1', 'x2', 'x3'
md_df = md_df.drop(columns=['x1', 'x2', 'x3'])

In [112]:
# Add 'Category' column
md_df['Category'] = 'MD'

In [113]:
md_df

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHNCHN,[CHN] LIANG Wei Keng[CHN] WANG Chang,9053155414,96798,14,Asia,China,MD
1,2,DENDEN,[DEN] Kim ASTRUP[DEN] Anders Skaarup RASMUSSEN,9298044414,91753,20,Europe,Denmark,MD
2,3,KORKOR,[KOR] KANG Min Hyuk[KOR] SEO Seung Jae,7726266513,90415,20,Asia,Korea,MD
3,4,MASMAS,[MAS] Aaron CHIA[MAS] SOH Wooi Yik,5620399389,84315,16,Asia,Malaysia,MD
4,5,CHNCHN,[CHN] HE Ji Ting[CHN] REN Xiang Yu,5967384812,83961,23,Asia,China,MD
...,...,...,...,...,...,...,...,...,...
1424,1415,ESPESP,[ESP] Fernando CIVICO[ESP] Ricardo RETTIG,9632969882,20,1,Europe,Spain,MD
1425,1426,BELBEL,[BEL] Elias BRACKE[BEL] Senne HOUTHOOFD,6725155858,15,1,Europe,Belgium,MD
1426,1427,BELBEL,[BEL] Charles FOUYN[BEL] Baptiste ROLIN,9970396561,2,1,Europe,Belgium,MD
1427,1427,FIJFIJ,[FIJ] Jared CHUNG[FIJ] Robert LOO,8267255618,2,1,Oceania,Fiji,MD
1428,1427,COKCOK,[COK] Brendan LEE[COK] Emanuela MATAIO,1988993996,2,1,Oceania,COOK ISLANDS,MD

In [114]:
#md_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\MD Player.csv', index = False)

### **Women's Doubles**

In [116]:
# Women's Doubles URL, filtered by 100 results on each page.
wd_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42633&category=475&C475FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [117]:
# After checking with the filter by 100 results on each page.
# We need this info to work with the last page which doesn't contain 100 results as the previous ones.
wd_page_number = 11
wd_results = 1029

In [118]:
# From the Test above, now we know all the columns needed for the DataFrame. Create a list of column names.
list = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [119]:
# Create DataFrame
wd_df = pd.DataFrame(columns = list)
wd_df

Empty DataFrame
Columns: [Rank, x1, x2, Country Code, Player, x3, Member ID, Points, Tournaments, Confederation, Country]
Index: []

In [120]:
# Create a loop to add data to all pages in DataFrame 
# Loop through pages 1 to 19
for wd_page in range(1, wd_page_number +1):
    if wd_page < wd_page_number: # From pages 1-18 with 100 results on each page
        # Format the URL with the current page number
        wd_url = wd_base_url.format(wd_page)
        # Make a request to the URL
        wd_response = requests.get(wd_url, headers=headers)
        wd_soup = BeautifulSoup(wd_response.text, 'html.parser')
        wd_ranking_table = wd_soup.find('table', class_='ruler')
        wd_all_rows = wd_ranking_table.find_all('tr')[2:102]
        for wd_row in wd_all_rows:
            wd_row_data = wd_row.find_all('td')
            wd_individual_row_data = [wd_data.text.strip() for wd_data in wd_row_data]
            wd_length = len(wd_df)
            if wd_length < wd_results:
                wd_df.loc[wd_length] = wd_individual_row_data
            else:
                break
            
    else: # Page 19 with less than 100 results on this page
        # Format the URL with the current page number
        wd_url = wd_base_url.format(wd_page)
        # Make a request to the URL
        wd_response = requests.get(wd_url, headers=headers)
        wd_soup = BeautifulSoup(wd_response.text, 'html.parser')
        wd_ranking_table = wd_soup.find('table', class_='ruler')
        wd_all_rows = wd_ranking_table.find_all('tr')[2:(wd_results-((wd_page_number-1)*100) +2)]
        for wd_row in wd_all_rows:
            wd_row_data = wd_row.find_all('td')
            wd_individual_row_data = [wd_data.text.strip() for wd_data in wd_row_data]
            wd_length = len(wd_df)
            if wd_length < wd_results:
                wd_df.loc[wd_length] = wd_individual_row_data
            else:
                break

wd_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,1,CHNCHN,[CHN] CHEN Qing Chen[CHN] JIA Yi Fan,,9412565144,104406,13,Asia,China
1,2,,,CHNCHN,[CHN] LIU Sheng Shu[CHN] TAN Ning,,8159959880,99396,21,Asia,China
2,3,,,KORKOR,[KOR] BAEK Ha Na[KOR] LEE So Hee,,5670691292,98116,15,Asia,Korea
3,4,,,JPNJPN,[JPN] Nami MATSUYAMA[JPN] Chiharu SHIDA,,6521268282,91175,18,Asia,Japan
4,5,,,CHNCHN,[CHN] ZHANG Shu Xian[CHN] ZHENG Yu,,8591485331,81491,14,Asia,China
...,...,...,...,...,...,...,...,...,...,...,...
1024,1023,,,SVKSVK,[SVK] Johanka IVANOVICOVA[SVK] Olivia KADLECOVA,,7760583887,40,1,Europe,Slovakia
1025,1026,,,TURTUR,[TUR] Yasemen BEKTAS[TUR] Cansu ERCETIN,,8662191818,2,1,Europe,Trkiye
1026,1026,,,SUISUI,[SUI] Milena SCHNIDER[SUI] Jenjira STADELMANN,,9752959566,2,1,Europe,Switzerland
1027,1026,,,PYFPYF,[PYF] Heirautea CURET[PYF] Esther TAU,,9190687972,2,1,Oceania,Tahiti
1028,1026,,,PYFPYF,[PYF] MIissa MI YOU[PYF] Myriam SIAO,,7944227024,2,1,Oceania,Tahiti

In [121]:
# Dropping the columns 'x1', 'x2', 'x3'
wd_df = wd_df.drop(columns=['x1', 'x2', 'x3'])

In [122]:
# Add 'Category' column
wd_df['Category'] = 'WD'

In [123]:
wd_df

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHNCHN,[CHN] CHEN Qing Chen[CHN] JIA Yi Fan,9412565144,104406,13,Asia,China,WD
1,2,CHNCHN,[CHN] LIU Sheng Shu[CHN] TAN Ning,8159959880,99396,21,Asia,China,WD
2,3,KORKOR,[KOR] BAEK Ha Na[KOR] LEE So Hee,5670691292,98116,15,Asia,Korea,WD
3,4,JPNJPN,[JPN] Nami MATSUYAMA[JPN] Chiharu SHIDA,6521268282,91175,18,Asia,Japan,WD
4,5,CHNCHN,[CHN] ZHANG Shu Xian[CHN] ZHENG Yu,8591485331,81491,14,Asia,China,WD
...,...,...,...,...,...,...,...,...,...
1024,1023,SVKSVK,[SVK] Johanka IVANOVICOVA[SVK] Olivia KADLECOVA,7760583887,40,1,Europe,Slovakia,WD
1025,1026,TURTUR,[TUR] Yasemen BEKTAS[TUR] Cansu ERCETIN,8662191818,2,1,Europe,Trkiye,WD
1026,1026,SUISUI,[SUI] Milena SCHNIDER[SUI] Jenjira STADELMANN,9752959566,2,1,Europe,Switzerland,WD
1027,1026,PYFPYF,[PYF] Heirautea CURET[PYF] Esther TAU,9190687972,2,1,Oceania,Tahiti,WD
1028,1026,PYFPYF,[PYF] MIissa MI YOU[PYF] Myriam SIAO,7944227024,2,1,Oceania,Tahiti,WD

In [124]:
#wd_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\WD Player.csv', index = False)

### **Mixed Doubles**

In [126]:
# Mixed Doubles URL, filtered by 100 results on each page.
xd_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42633&category=476&C476FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [127]:
# After checking with the filter by 100 results on each page.
# We need this info to work with the last page which doesn't contain 100 results as the previous ones.
xd_page_number = 15
xd_results = 1402

In [128]:
# From the Test above, now we know all the columns needed for the DataFrame. Create a list of column names.
list = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']

In [129]:
# Create DataFrame
xd_df = pd.DataFrame(columns = list)
xd_df

Empty DataFrame
Columns: [Rank, x1, x2, Country Code, Player, x3, Member ID, Points, Tournaments, Confederation, Country]
Index: []

In [130]:
# Create a loop to add data to all pages in DataFrame 
# Loop through pages 1 to 19
for xd_page in range(1, xd_page_number +1):
    if xd_page < xd_page_number: # From pages 1-18 with 100 results on each page
        # Format the URL with the current page number
        xd_url = xd_base_url.format(xd_page)
        # Make a request to the URL
        xd_response = requests.get(xd_url, headers=headers)
        xd_soup = BeautifulSoup(xd_response.text, 'html.parser')
        xd_ranking_table = xd_soup.find('table', class_='ruler')
        xd_all_rows = xd_ranking_table.find_all('tr')[2:102]
        for xd_row in xd_all_rows:
            xd_row_data = xd_row.find_all('td')
            xd_individual_row_data = [xd_data.text.strip() for xd_data in xd_row_data]
            xd_length = len(xd_df)
            if xd_length < xd_results:
                xd_df.loc[xd_length] = xd_individual_row_data
            else:
                break
            
    else: # Page 19 with less than 100 results on this page
        # Format the URL with the current page number
        xd_url = xd_base_url.format(xd_page)
        # Make a request to the URL
        xd_response = requests.get(xd_url, headers=headers)
        xd_soup = BeautifulSoup(xd_response.text, 'html.parser')
        xd_ranking_table = xd_soup.find('table', class_='ruler')
        xd_all_rows = xd_ranking_table.find_all('tr')[2:(xd_results-((xd_page_number-1)*100) +2)]
        for xd_row in xd_all_rows:
            xd_row_data = xd_row.find_all('td')
            xd_individual_row_data = [xd_data.text.strip() for xd_data in xd_row_data]
            xd_length = len(xd_df)
            if xd_length < xd_results:
                xd_df.loc[xd_length] = xd_individual_row_data
            else:
                break

xd_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHNCHN,[CHN] ZHENG Si Wei[CHN] HUANG Ya Qiong,,8304663168,106850,13,Asia,China
1,2,,,CHNCHN,[CHN] FENG Yan Zhe[CHN] HUANG Dong Ping,,6526789426,99100,16,Asia,China
2,3,,,CHNCHN,[CHN] JIANG Zhen Bang[CHN] WEI Ya Xin,,6302957246,94050,19,Asia,China
3,4,,,KORKOR,[KOR] SEO Seung Jae[KOR] CHAE Yu Jung,,6651393074,83220,14,Asia,Korea
4,5,,,JPNJPN,[JPN] Yuta WATANABE[JPN] Arisa IGARASHI,,5824079558,80970,14,Asia,Japan
...,...,...,...,...,...,...,...,...,...,...,...
1397,1376,,,ISRMLT,[ISR] Mark ARONCHIK[MLT] Emily ABELA,,6982091376,20,1,Europe,IsraelMalta
1398,1376,,,ESTEST,[EST] Dennis KUMAR[EST] Mia SAKARIAS,,8564580515,20,1,Europe,Estonia
1399,1376,,,DENDEN,[DEN] Victor Roed SKOV[DEN] LRke Wiktoria WENDEL,,7843769090,20,1,Europe,Denmark
1400,1376,,,MLTMLT,[MLT] Jeremy Mark GATT[MLT] Martina CLARK,,3638768347,20,1,Europe,Malta
1401,1376,,,SCOEST,[SCO] Evan KENNY[EST] Emilia SHAPOVALOVA,,5657999601,20,1,Europe,ScotlandEstonia

In [131]:
# Dropping the columns 'x1', 'x2', 'x3'
xd_df = xd_df.drop(columns=['x1', 'x2', 'x3'])

In [132]:
# Add 'Category' column
xd_df['Category'] = 'XD'

In [133]:
xd_df

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHNCHN,[CHN] ZHENG Si Wei[CHN] HUANG Ya Qiong,8304663168,106850,13,Asia,China,XD
1,2,CHNCHN,[CHN] FENG Yan Zhe[CHN] HUANG Dong Ping,6526789426,99100,16,Asia,China,XD
2,3,CHNCHN,[CHN] JIANG Zhen Bang[CHN] WEI Ya Xin,6302957246,94050,19,Asia,China,XD
3,4,KORKOR,[KOR] SEO Seung Jae[KOR] CHAE Yu Jung,6651393074,83220,14,Asia,Korea,XD
4,5,JPNJPN,[JPN] Yuta WATANABE[JPN] Arisa IGARASHI,5824079558,80970,14,Asia,Japan,XD
...,...,...,...,...,...,...,...,...,...
1397,1376,ISRMLT,[ISR] Mark ARONCHIK[MLT] Emily ABELA,6982091376,20,1,Europe,IsraelMalta,XD
1398,1376,ESTEST,[EST] Dennis KUMAR[EST] Mia SAKARIAS,8564580515,20,1,Europe,Estonia,XD
1399,1376,DENDEN,[DEN] Victor Roed SKOV[DEN] LRke Wiktoria WENDEL,7843769090,20,1,Europe,Denmark,XD
1400,1376,MLTMLT,[MLT] Jeremy Mark GATT[MLT] Martina CLARK,3638768347,20,1,Europe,Malta,XD
1401,1376,SCOEST,[SCO] Evan KENNY[EST] Emilia SHAPOVALOVA,5657999601,20,1,Europe,ScotlandEstonia,XD

In [134]:
#xd_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\XD Player.csv', index = False)

In [176]:
# List of DataFrames to concatenate
dfs = [ms_df, ws_df, md_df, wd_df, xd_df]

# Concatenate the DataFrames
all_players = pd.concat(dfs, ignore_index=True)

# Display the resulting DataFrame
all_players

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,[CHN] SHI Yu Qi,57945,101815,18,Asia,China,MS
1,2,DEN,[DEN] Viktor AXELSEN,25831,93790,14,Europe,Denmark,MS
2,3,DEN,[DEN] Anders ANTONSEN,91554,84241,22,Europe,Denmark,MS
3,4,JPN,[JPN] Kodai NARAOKA,62063,84197,22,Asia,Japan,MS
4,5,MAS,[MAS] LEE Zii Jia,81561,83716,22,Asia,Malaysia,MS
...,...,...,...,...,...,...,...,...,...
6910,1376,ISRMLT,[ISR] Mark ARONCHIK[MLT] Emily ABELA,6982091376,20,1,Europe,IsraelMalta,XD
6911,1376,ESTEST,[EST] Dennis KUMAR[EST] Mia SAKARIAS,8564580515,20,1,Europe,Estonia,XD
6912,1376,DENDEN,[DEN] Victor Roed SKOV[DEN] LRke Wiktoria WENDEL,7843769090,20,1,Europe,Denmark,XD
6913,1376,MLTMLT,[MLT] Jeremy Mark GATT[MLT] Martina CLARK,3638768347,20,1,Europe,Malta,XD
6914,1376,SCOEST,[SCO] Evan KENNY[EST] Emilia SHAPOVALOVA,5657999601,20,1,Europe,ScotlandEstonia,XD

In [178]:
all_players.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\All_Players.csv', index = False)

In [218]:
df1 = pd.read_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\All_Players.csv')
df1

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,[CHN] SHI Yu Qi,57945,101815,18,Asia,China,MS
1,2,DEN,[DEN] Viktor AXELSEN,25831,93790,14,Europe,Denmark,MS
2,3,DEN,[DEN] Anders ANTONSEN,91554,84241,22,Europe,Denmark,MS
3,4,JPN,[JPN] Kodai NARAOKA,62063,84197,22,Asia,Japan,MS
4,5,MAS,[MAS] LEE Zii Jia,81561,83716,22,Asia,Malaysia,MS
...,...,...,...,...,...,...,...,...,...
6910,1376,ISRMLT,[ISR] Mark ARONCHIK[MLT] Emily ABELA,6982091376,20,1,Europe,IsraelMalta,XD
6911,1376,ESTEST,[EST] Dennis KUMAR[EST] Mia SAKARIAS,8564580515,20,1,Europe,Estonia,XD
6912,1376,DENDEN,[DEN] Victor Roed SKOV[DEN] LRke Wiktoria WENDEL,7843769090,20,1,Europe,Denmark,XD
6913,1376,MLTMLT,[MLT] Jeremy Mark GATT[MLT] Martina CLARK,3638768347,20,1,Europe,Malta,XD
6914,1376,SCOEST,[SCO] Evan KENNY[EST] Emilia SHAPOVALOVA,5657999601,20,1,Europe,ScotlandEstonia,XD

In [220]:
# Function to format the 6-character values
def format_category(value):
    if len(value) == 6:
        return value[:3] + '/' + value[3:]
    return value

# Apply the function to the 'Country Code' column
df1['Country Code'] = df1['Country Code'].apply(format_category)

# Display the resulting DataFrame
df1

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,[CHN] SHI Yu Qi,57945,101815,18,Asia,China,MS
1,2,DEN,[DEN] Viktor AXELSEN,25831,93790,14,Europe,Denmark,MS
2,3,DEN,[DEN] Anders ANTONSEN,91554,84241,22,Europe,Denmark,MS
3,4,JPN,[JPN] Kodai NARAOKA,62063,84197,22,Asia,Japan,MS
4,5,MAS,[MAS] LEE Zii Jia,81561,83716,22,Asia,Malaysia,MS
...,...,...,...,...,...,...,...,...,...
6910,1376,ISR/MLT,[ISR] Mark ARONCHIK[MLT] Emily ABELA,6982091376,20,1,Europe,IsraelMalta,XD
6911,1376,EST/EST,[EST] Dennis KUMAR[EST] Mia SAKARIAS,8564580515,20,1,Europe,Estonia,XD
6912,1376,DEN/DEN,[DEN] Victor Roed SKOV[DEN] LRke Wiktoria WENDEL,7843769090,20,1,Europe,Denmark,XD
6913,1376,MLT/MLT,[MLT] Jeremy Mark GATT[MLT] Martina CLARK,3638768347,20,1,Europe,Malta,XD
6914,1376,SCO/EST,[SCO] Evan KENNY[EST] Emilia SHAPOVALOVA,5657999601,20,1,Europe,ScotlandEstonia,XD

In [212]:
import re

In [222]:
# Function to process the 'Player' column
def format_player(value):
    # Add '/' before the second '[yyy]'
    value = re.sub(r'(\[\w{3}\])([^[]+)(\[\w{3}\])', r'\1\2/\3', value)
    # Remove all occurrences of '[xxx]'
    value = re.sub(r'\[\w{3}\]', '', value)
    # Remove any leading/trailing whitespace
    return value.strip()

# Apply the function to the 'Player' column
df1['Player'] = df1['Player'].apply(format_player)

# Display the resulting DataFrame
df1

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,SHI Yu Qi,57945,101815,18,Asia,China,MS
1,2,DEN,Viktor AXELSEN,25831,93790,14,Europe,Denmark,MS
2,3,DEN,Anders ANTONSEN,91554,84241,22,Europe,Denmark,MS
3,4,JPN,Kodai NARAOKA,62063,84197,22,Asia,Japan,MS
4,5,MAS,LEE Zii Jia,81561,83716,22,Asia,Malaysia,MS
...,...,...,...,...,...,...,...,...,...
6910,1376,ISR/MLT,Mark ARONCHIK/ Emily ABELA,6982091376,20,1,Europe,IsraelMalta,XD
6911,1376,EST/EST,Dennis KUMAR/ Mia SAKARIAS,8564580515,20,1,Europe,Estonia,XD
6912,1376,DEN/DEN,Victor Roed SKOV/ LRke Wiktoria WENDEL,7843769090,20,1,Europe,Denmark,XD
6913,1376,MLT/MLT,Jeremy Mark GATT/ Martina CLARK,3638768347,20,1,Europe,Malta,XD
6914,1376,SCO/EST,Evan KENNY/ Emilia SHAPOVALOVA,5657999601,20,1,Europe,ScotlandEstonia,XD

In [228]:
df1['Country']

0                 China
1               Denmark
2               Denmark
3                 Japan
4              Malaysia
             ...
6910        IsraelMalta
6911            Estonia
6912            Denmark
6913              Malta
6914    ScotlandEstonia
Name: Country, Length: 6915, dtype: object

In [232]:
country_list = df1['Country'].tolist()
country_list

['China',
 'Denmark',
 'Denmark',
 'Japan',
 'Malaysia',
 'China',
 'Indonesia',
 'Thailand',
 'Chinese Taipei',
 'Indonesia',
 'Singapore',
 'Chinese Taipei',
 'Japan',
 'Japan',
 'China',
 'Hong Kong China',
 'China',
 'India',
 'France',
 'India',
 'Hong Kong China',
 'France',
 'China',
 'Chinese Taipei',
 'Chinese Taipei',
 'Canada',
 'France',
 'Denmark',
 'Malaysia',
 'Japan',
 'Indonesia',
 'Malaysia',
 'Japan',
 'Chinese Taipei',
 'India',
 'Thailand',
 'Chinese Taipei',
 'India',
 'Korea',
 'Singapore',
 'India',
 'Ireland',
 'Denmark',
 'India',
 'Indonesia',
 'Hong Kong China',
 'Denmark',
 'France',
 'Belgium',
 'Japan',
 'Malaysia',
 'Netherlands',
 'Brazil',
 'Japan',
 'Guatemala',
 'China',
 'Indonesia',
 'India',
 'Malaysia',
 'Finland',
 'Vietnam',
 'Czechia',
 'China',
 'El Salvador',
 'Azerbaijan',
 'Finland',
 'Thailand',
 'Spain',
 'Malaysia',
 'India',
 'Israel',
 'Brazil',
 'Vietnam',
 'Chinese Taipei',
 'Kazakhstan',
 'India',
 'India',
 'Italy',
 'Sri Lanka',
 'Indonesia',
 'India',
 'Chinese Taipei',
 'Mexico',
 'U.S.A.',
 'Indonesia',
 'Chinese Taipei',
 'India',
 'Chinese Taipei',
 'Germany',
 'Netherlands',
 'India',
 'Canada',
 'Mauritius',
 'Hong Kong China',
 'Malaysia',
 'India',
 'Peru',
 'Germany',
 'France',
 'Switzerland',
 'Denmark',
 'Israel',
 'France',
 'England',
 'Italy',
 'India',
 'Canada',
 'Germany',
 'Nigeria',
 'Singapore',
 'Chinese Taipei',
 'Japan',
 'India',
 'Japan',
 'India',
 'Indonesia',
 'Austria',
 'UNITED ARAB EMIRATES',
 'India',
 'Malaysia',
 'Denmark',
 'Thailand',
 'Guatemala',
 'Chinese Taipei',
 'Malaysia',
 'Japan',
 'India',
 'U.S.A.',
 'India',
 'Spain',
 'Korea',
 'Sweden',
 'India',
 'Germany',
 'China',
 'Germany',
 'Denmark',
 'Malaysia',
 'U.S.A.',
 'India',
 'Norway',
 'Malaysia',
 'Indonesia',
 'Indonesia',
 'Croatia',
 'Indonesia',
 'Australia',
 'New Zealand',
 'France',
 'Austria',
 'Egypt',
 'France',
 'Switzerland',
 'India',
 'Australia',
 'England',
 'Jamaica',
 'Chinese Taipei',
 'Chinese Taipei',
 'Denmark',
 'France',
 'Nepal',
 'Korea',
 'Australia',
 'Macau China',
 'India',
 'Japan',
 'Sweden',
 'Mexico',
 'India',
 'France',
 'Poland',
 'Sri Lanka',
 'England',
 'Austria',
 'Mexico',
 'Belgium',
 'India',
 'India',
 'India',
 'Switzerland',
 'Germany',
 'Korea',
 'Malaysia',
 'Indonesia',
 'Slovakia',
 'Japan',
 'India',
 'Japan',
 'India',
 'Japan',
 'India',
 'Hungary',
 'Algeria',
 'Denmark',
 'Sri Lanka',
 'Thailand',
 'Chinese Taipei',
 'India',
 'Denmark',
 'Australia',
 'Poland',
 'France',
 'England',
 'Denmark',
 'India',
 'France',
 'SAUDI ARABIA',
 'Portugal',
 'England',
 'South Africa',
 'Chinese Taipei',
 'Canada',
 'Japan',
 'El Salvador',
 'Australia',
 'Korea',
 'Germany',
 'East Timor',
 'Switzerland',
 'India',
 'Zambia',
 'Thailand',
 'Poland',
 'U.S.A.',
 'France',
 'Korea',
 'India',
 'Malaysia',
 'Italy',
 'Nigeria',
 'Malaysia',
 'UNITED ARAB EMIRATES',
 'Malaysia',
 'Denmark',
 'Paraguay',
 'Canada',
 'Indonesia',
 'Indonesia',
 'Canada',
 'Malta',
 'Thailand',
 'Thailand',
 'India',
 'Malaysia',
 'India',
 'Belgium',
 'Germany',
 'China',
 'England',
 'Myanmar',
 'Nigeria',
 'India',
 'Suriname',
 'Australia',
 'Indonesia',
 'Malaysia',
 'Indonesia',
 'Canada',
 'India',
 'France',
 'India',
 'U.S.A.',
 'Canada',
 'Maldives',
 'Chinese Taipei',
 'Canada',
 'India',
 'Indonesia',
 'Czechia',
 'Denmark',
 'China',
 'Slovenia',
 'Mexico',
 'Scotland',
 'Spain',
 'Guatemala',
 'India',
 'Germany',
 'India',
 'Myanmar',
 'Malaysia',
 'Argentina',
 'Denmark',
 'Ukraine',
 'Canada',
 'Korea',
 'Indonesia',
 'India',
 'Argentina',
 'Ecuador',
 'Guatemala',
 'Portugal',
 'Japan',
 'Italy',
 'Venezuela',
 'Egypt',
 'Azerbaijan',
 'Israel',
 'Philippines',
 'Denmark',
 'Cambodia',
 'Mauritius',
 'Korea',
 'Australia',
 'Australia',
 'Malaysia',
 'U.S.A.',
 'Costa Rica',
 'Poland',
 'MOROCCO Independent',
 'Nigeria',
 'Singapore',
 'Maldives',
 'Malaysia',
 'Chinese Taipei',
 'Uganda',
 'Malaysia',
 'U.S.A.',
 'Brazil',
 'India',
 'Spain',
 'Indonesia',
 'Mauritius',
 'Algeria',
 'Canada',
 'Australia',
 'Canada',
 'Japan',
 'Poland',
 'Estonia',
 'Algeria',
 'Singapore',
 'India',
 'Sweden',
 'Switzerland',
 'Dominican Republic',
 'England',
 'France',
 'New Zealand',
 'El Salvador',
 'Denmark',
 'India',
 'Netherlands',
 'India',
 'India',
 'India',
 'Cuba',
 'India',
 'Korea',
 'Australia',
 'India',
 'Sri Lanka',
 'UNITED ARAB EMIRATES',
 'U.S.A.',
 'Austria',
 'Estonia',
 'Malaysia',
 'Indonesia',
 'Sri Lanka',
 'England',
 'India',
 'India',
 'Poland',
 'South Africa',
 'Mauritius',
 'Denmark',
 'France',
 'Malaysia',
 'Australia',
 'Colombia',
 'India',
 'Barbados',
 'Zambia',
 'India',
 'Bahrain',
 'India',
 'Finland',
 'India',
 'Finland',
 'Japan',
 'Czechia',
 'India',
 'Japan',
 'Belgium',
 'Algeria',
 'Norway',
 'Croatia',
 'India',
 'India',
 'Chinese Taipei',
 'New Zealand',
 'Germany',
 'China',
 'Canada',
 'Japan',
 'Egypt',
 'Algeria',
 'Mauritius',
 'India',
 'India',
 'India',
 'Trinidad & Tobago',
 'Japan',
 'Chinese Taipei',
 'EQUATORIAL GUINEA',
 'Nigeria',
 'India',
 'Canada',
 'Chinese Taipei',
 'India',
 'India',
 'India',
 'Poland',
 'Canada',
 'Australia',
 'Indonesia',
 'Finland',
 'UNITED ARAB EMIRATES',
 'England',
 'Egypt',
 'Uganda',
 'Hungary',
 'India',
 'Italy',
 'Netherlands',
 'Brunei Darussalam',
 'Australia',
 'Portugal',
 'Scotland',
 'Sweden',
 'Ghana',
 'Chinese Taipei',
 'Malaysia',
 'India',
 'Indonesia',
 'Canada',
 'Italy',
 'Australia',
 'India',
 'Sweden',
 'Malaysia',
 'U.S.A.',
 'Netherlands',
 'Bulgaria',
 'Indonesia',
 'U.S.A.',
 'Cuba',
 'Poland',
 'India',
 'Peru',
 'U.S.A.',
 'Canada',
 'Malaysia',
 'U.S.A.',
 'Malaysia',
 'China',
 'Korea',
 'Canada',
 'New Zealand',
 'Chinese Taipei',
 'India',
 'Czechia',
 'Iran',
 'Malaysia',
 'China',
 'Hong Kong China',
 'Netherlands',
 'India',
 'Malaysia',
 'Bulgaria',
 'Nepal',
 'Mauritius',
 'Chinese Taipei',
 'Malaysia',
 'Spain',
 'Thailand',
 'Vietnam',
 'India',
 'India',
 'Netherlands',
 'Peru',
 'Malaysia',
 'U.S.A.',
 'Indonesia',
 'Canada',
 'Guatemala',
 'MOROCCO Independent',
 'England',
 'Australia',
 'U.S.A.',
 'Canada',
 'India',
 'Estonia',
 'Belgium',
 'Finland',
 'Ghana',
 'Iran',
 'Chinese Taipei',
 'Malta',
 'Malaysia',
 'India',
 'Malaysia',
 'Uganda',
 'Canada',
 'India',
 'Bhutan',
 'Malaysia',
 'Switzerland',
 'Indonesia',
 'Jordan',
 'Egypt',
 'Denmark',
 'Canada',
 'U.S.A.',
 'Sweden',
 'Scotland',
 'Canada',
 'Chinese Taipei',
 'India',
 'Malaysia',
 'Dominican Republic',
 'Chile',
 'Chile',
 'Peru',
 'Jamaica',
 'Chile',
 'Sweden',
 'France',
 'Thailand',
 'Malaysia',
 'Zambia',
 'Canada',
 'South Africa',
 'Thailand',
 'Mexico',
 'Chinese Taipei',
 'Canada',
 'Philippines',
 'Maldives',
 'Chinese Taipei',
 'England',
 'France',
 'Bulgaria',
 'Tahiti',
 'England',
 'India',
 'Denmark',
 'Uganda',
 'Canada',
 'Malaysia',
 'India',
 'Uganda',
 'Venezuela',
 'Venezuela',
 'U.S.A.',
 'Canada',
 'Nigeria',
 'Ghana',
 'Ligue Nouvelle Badminton REUNION',
 'New Zealand',
 'Nigeria',
 'Australia',
 'Kazakhstan',
 'France',
 'England',
 'Malaysia',
 'Canada',
 'Egypt',
 'Australia',
 'Australia',
 'India',
 'Sweden',
 'Syrian Arab Republic',
 'Mauritius',
 'Venezuela',
 'France',
 'France',
 'Indonesia',
 'Venezuela',
 'Venezuela',
 'Indonesia',
 'Mauritius',
 'Denmark',
 'Japan',
 'India',
 'Guam National Badminton Federation',
 'Malaysia',
 'England',
 'India',
 'Guatemala',
 'Peru',
 'Vietnam',
 'Malaysia',
 'Canada',
 'Hungary',
 'India',
 'England',
 'SAUDI ARABIA',
 'COOK ISLANDS',
 'Malaysia',
 'SAUDI ARABIA',
 'Uganda',
 'Suriname',
 'El Salvador',
 'Bangladesh',
 'Uganda',
 'Ireland',
 'England',
 'Australia',
 'Macau China',
 'Germany',
 'U.S.A.',
 'China',
 'China',
 'Indonesia',
 'Nepal',
 'Thailand',
 'NORTHERN MARIANAS',
 'NORTHERN MARIANAS',
 'Malaysia',
 'Denmark',
 'Suriname',
 'Venezuela',
 'Venezuela',
 'Suriname',
 'Mauritius',
 'Belgium',
 'Austria',
 'Costa Rica',
 'Brazil',
 'France',
 'Mauritius',
 'Guatemala',
 'India',
 'New Zealand',
 'U.S.A.',
 'Pakistan',
 'Mongolia',
 'Pakistan',
 'Nepal',
 'Mongolia',
 'East Timor',
 'Bhutan',
 'Australia',
 'Mauritius',
 'FGU FRENCH GUIANA',
 'Canada',
 'Finland',
 'UNITED ARAB EMIRATES',
 'Sweden',
 'Kazakhstan',
 'Australia',
 'Indonesia',
 'Ligue Nouvelle Badminton REUNION',
 'Ligue Nouvelle Badminton REUNION',
 'Malaysia',
 'India',
 'Chinese Taipei',
 'Malaysia',
 'India',
 'Indonesia',
 'India',
 'Kazakhstan',
 'Trkiye',
 'Denmark',
 'Uganda',
 'Mexico',
 'France',
 'India',
 'England',
 'Australia',
 'Malaysia',
 'Denmark',
 'England',
 'India',
 'Sweden',
 'Korea',
 'Sri Lanka',
 'Thailand',
 'Malaysia',
 'New Zealand',
 'Chinese Taipei',
 'England',
 'Australia',
 'Netherlands',
 'Trkiye',
 'India',
 'Uganda',
 'Kazakhstan',
 'Kazakhstan',
 'New Zealand',
 'Switzerland',
 'Guatemala',
 'Australia',
 'India',
 'Malaysia',
 'Egypt',
 'Germany',
 'Guatemala',
 'Spain',
 'Mauritius',
 'India',
 'Mexico',
 'Brazil',
 'Portugal',
 'Malaysia',
 'India',
 'Australia',
 'New Zealand',
 'New Zealand',
 'Portugal',
 'Myanmar',
 'Suriname',
 'Australia',
 'Iran',
 'Kazakhstan',
 'Dominican Republic',
 'Australia',
 'Nigeria',
 'Nigeria',
 'Ligue Nouvelle Badminton REUNION',
 'Suriname',
 'Zambia',
 'Iran',
 'Nigeria',
 'Nigeria',
 'Uzbekistan',
 'Iran',
 'Eritrea',
 'Nigeria',
 'Australia',
 'South Africa',
 'Australia',
 'BUR Burkina Faso',
 'Ligue Nouvelle Badminton REUNION',
 'Ligue Nouvelle Badminton REUNION',
 'Madagascar',
 'Paraguay',
 'Nigeria',
 'Canada',
 'New Zealand',
 'Korea',
 'Canada',
 'Canada',
 'Canada',
 'Cuba',
 'Guam National Badminton Federation',
 'Nigeria',
 'TOGO Badminton Association',
 'India',
 'Suriname',
 'Suriname',
 'Suriname',
 'Suriname',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'India',
 'FGU FRENCH GUIANA',
 'FGU FRENCH GUIANA',
 'Iran',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'U.S.A.',
 'Venezuela',
 'Nigeria',
 'Nigeria',
 'India',
 'India',
 'England',
 'Zimbabwe',
 'Sweden',
 'Iran',
 'Zambia',
 'Cameroon',
 'Cameroon',
 'Uzbekistan',
 'Uzbekistan',
 'India',
 'Peru',
 'Zimbabwe',
 'Mexico',
 'Venezuela',
 'Venezuela',
 'England',
 'Canada',
 'India',
 'India',
 'Sweden',
 'Singapore',
 'Canada',
 'U.S.A.',
 'Scotland',
 'India',
 'India',
 'Venezuela',
 'Cameroon',
 'Serbia',
 'Malaysia',
 'New Zealand',
 'Finland',
 'Mexico',
 'Malaysia',
 'Bulgaria',
 'UNITED ARAB EMIRATES',
 'China',
 'Australia',
 'Cameroon',
 'Uganda',
 'India',
 'Portugal',
 'England',
 'Hungary',
 'Guatemala',
 'Kazakhstan',
 'Mexico',
 'Mexico',
 'Canada',
 'Uzbekistan',
 'Kazakhstan',
 'NORTHERN MARIANAS',
 'Malaysia',
 'NORTHERN MARIANAS',
 'Kazakhstan',
 'NORTHERN MARIANAS',
 'Guam National Badminton Federation',
 'NORTHERN MARIANAS',
 'NORTHERN MARIANAS',
 'Canada',
 'Switzerland',
 'Paraguay',
 'Vietnam',
 'Poland',
 'Sri Lanka',
 'Sweden',
 'Guatemala',
 'Maldives',
 'Poland',
 'Malaysia',
 'England',
 'Slovenia',
 'Vietnam',
 'Colombia',
 'Colombia',
 'Colombia',
 'Denmark',
 'Algeria',
 'Malaysia',
 'Ukraine',
 'Thailand',
 'Ukraine',
 'Denmark',
 'Finland',
 'Denmark',
 'Malaysia',
 'Uganda',
 'Uganda',
 'Guatemala',
 'Botswana',
 'Guatemala',
 'England',
 'Guyana',
 'Mexico',
 'India',
 'Denmark',
 'Botswana',
 'Cuba',
 'Suriname',
 'FGU FRENCH GUIANA',
 'FGU FRENCH GUIANA',
 'Suriname',
 'Cuba',
 'Cuba',
 'Venezuela',
 'Venezuela',
 'Canada',
 'U.S.A.',
 'India',
 'India',
 'Malaysia',
 'Indonesia',
 'Austria',
 'Slovenia',
 'Malaysia',
 'Australia',
 'Australia',
 'Australia',
 'Maldives',
 'Switzerland',
 'Ligue Nouvelle Badminton REUNION',
 'Austria',
 'Malaysia',
 'Belgium',
 'Denmark',
 'Suriname',
 'Guatemala',
 'Dominican Republic',
 'National Olympic Committee KENYA',
 'Algeria',
 'Egypt',
 'Algeria',
 'Algeria',
 'Uganda',
 'National Olympic Committee KENYA',
 'U.S.A.',
 'Canada',
 'Vietnam',
 'Vietnam',
 'Vietnam',
 'Guatemala',
 'Thailand',
 'Zambia',
 'Uzbekistan',
 'Dominican Republic',
 'Trinidad & Tobago',
 'Trinidad & Tobago',
 'Trinidad & Tobago',
 'Indonesia',
 'Venezuela',
 'Venezuela',
 'Venezuela',
 'Venezuela',
 'Venezuela',
 'Venezuela',
 'Australia',
 'Korea',
 'Australia',
 'Algeria',
 'Algeria',
 'Vietnam',
 'Trinidad & Tobago',
 'Suriname',
 'Suriname',
 'Suriname',
 'Suriname',
 'Suriname',
 'Trinidad & Tobago',
 'Trinidad & Tobago',
 'Suriname',
 'Suriname',
 'Suriname',
 'Suriname',
 'U.S.A.',
 'U.S.A.',
 'U.S.A.',
 'U.S.A.',
 'Mexico',
 'Mexico',
 'Mexico',
 'India',
 'India',
 'Germany',
 'Fiji',
 'Australia',
 'Venezuela',
 'India',
 'Australia',
 'Australia',
 'Ireland',
 'Netherlands',
 'Scotland',
 'France',
 'Singapore',
 'Malaysia',
 'Malaysia',
 'China',
 'France',
 'Slovenia',
 'Luxembourg',
 'Ireland',
 'Austria',
 'U.S.A.',
 'Slovenia',
 'Slovenia',
 'Azerbaijan',
 'Cyprus',
 'Ukraine',
 'Scotland',
 'Bahrain',
 'Malaysia',
 'England',
 'Chinese Taipei',
 'Vietnam',
 'Luxembourg',
 'Norway',
 'India',
 'India',
 'India',
 'India',
 'England',
 'India',
 'England',
 'India',
 'Azerbaijan',
 'England',
 'Czechia',
 ...]

In [234]:
# Function to separate concatenated country names
def separate_countries(value):
    for country in country_list:
        if value.startswith(country):
            rest = value[len(country):]
            if rest and any(rest.startswith(other_country) for other_country in country_list):
                return country + '/' + rest
    return value

# Apply the function to the 'Country' column
df1['Country'] = df1['Country'].apply(separate_countries)

# Display the resulting DataFrame
df1

,Rank,Country Code,Player,Member ID,Points,Tournaments,Confederation,Country,Category
0,1,CHN,SHI Yu Qi,57945,101815,18,Asia,China,MS
1,2,DEN,Viktor AXELSEN,25831,93790,14,Europe,Denmark,MS
2,3,DEN,Anders ANTONSEN,91554,84241,22,Europe,Denmark,MS
3,4,JPN,Kodai NARAOKA,62063,84197,22,Asia,Japan,MS
4,5,MAS,LEE Zii Jia,81561,83716,22,Asia,Malaysia,MS
...,...,...,...,...,...,...,...,...,...
6910,1376,ISR/MLT,Mark ARONCHIK/ Emily ABELA,6982091376,20,1,Europe,Israel/Malta,XD
6911,1376,EST/EST,Dennis KUMAR/ Mia SAKARIAS,8564580515,20,1,Europe,Estonia,XD
6912,1376,DEN/DEN,Victor Roed SKOV/ LRke Wiktoria WENDEL,7843769090,20,1,Europe,Denmark,XD
6913,1376,MLT/MLT,Jeremy Mark GATT/ Martina CLARK,3638768347,20,1,Europe,Malta,XD
6914,1376,SCO/EST,Evan KENNY/ Emilia SHAPOVALOVA,5657999601,20,1,Europe,Scotland/Estonia,XD

In [236]:
df1.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\Player list.csv', index = False)

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's Singles URL, Filtered by 100 results on each page.
ms_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this trip to work with the last page which doesn't contain 100 results as the previous ones.
ms_page_number = 1
ms_results = 1831

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
ms_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for ms_page in range(1, ms_page_number + 20):
    if ms_page < 19:  # Pages 1-18 with 100 results on each page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = [data.text.strip() if data.find('a') is None else data.find('a')['href'] for data in row_data]
            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data
            
            if len(ms_df) >= ms_results:
                break
    else:  # Page 19 with less than 100 results on this page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(ms_results - ((ms_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = [data.text.strip() if data.find('a') is None else data.find('a')['href'] for data in row_data]
            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data

            if len(ms_df) >= ms_results:
                break

# Display the resulting DataFrame
print(ms_df)

      Rank x1 x2 Country Code                               Player  \
0        1                CHN   player.aspx?id=42511&player=990139
1        2                DEN   player.aspx?id=42511&player=147387
2        3                DEN   player.aspx?id=42511&player=396249
3        4                JPN  player.aspx?id=42511&player=1561759
4        5                MAS   player.aspx?id=42511&player=318753
...    ... .. ..          ...                                  ...
1826  1767                UGA  player.aspx?id=42511&player=7270299
1827  1767                UGA  player.aspx?id=42511&player=7798125
1828  1767                UGA  player.aspx?id=42511&player=6354531
1829  1767                UGA  player.aspx?id=42511&player=7272031
1830  1767                UGA  player.aspx?id=42511&player=7274677

                                                     x3 Member ID  Points  \
0     /player-profile/38CBD70E-A643-4170-9E6A-288634...     57945  101815
1     /player-profile/3BF0C3EA-7BFB-4CC9-A955-3712D8...     25831   93790
2     /player-profile/473960FD-334B-476F-9821-8ED939...     91554   84241
3     /player-profile/7804BE61-F954-4C46-9E72-FED84B...     62063   84197
4     /player-profile/21E9EAF0-5C86-416F-A942-C3ECA0...     81561   83716
...                                                 ...       ...     ...
1826  /player-profile/7D272D8F-8011-4BB0-AA9E-9C79FE...     33916      20
1827  /player-profile/A3785297-69E0-4845-BAB5-0235E6...     29626      20
1828  /player-profile/19CD2BAB-6CE5-4ACC-834D-C8C677...     89938      20
1829  /player-profile/41C69713-E359-41AC-BC17-3CF2E5...     34706      20
1830  /player-profile/7B9A5DF9-EE7E-465D-ADAE-2CB3CB...     22032      20

     Tournaments                                      Confederation  \
0             18  category.aspx?id=42511&category=472&ogid=0EB2B...
1             14  category.aspx?id=42511&category=472&ogid=DF303...
2             22  category.aspx?id=42511&category=472&ogid=DF303...
3             22  category.aspx?id=42511&category=472&ogid=0EB2B...
4             22  category.aspx?id=42511&category=472&ogid=0EB2B...
...          ...                                                ...
1826           1  category.aspx?id=42511&category=472&ogid=82A8C...
1827           1  category.aspx?id=42511&category=472&ogid=82A8C...
1828           1  category.aspx?id=42511&category=472&ogid=82A8C...
1829           1  category.aspx?id=42511&category=472&ogid=82A8C...
1830           1  category.aspx?id=42511&category=472&ogid=82A8C...

                                                Country
0     category.aspx?id=42511&category=472&ogid=AAAFC...
1     category.aspx?id=42511&category=472&ogid=58BCE...
2     category.aspx?id=42511&category=472&ogid=58BCE...
3     category.aspx?id=42511&category=472&ogid=ED6A6...
4     category.aspx?id=42511&category=472&ogid=412A5...
...                                                 ...
1826  category.aspx?id=42511&category=472&ogid=128ED...
1827  category.aspx?id=42511&category=472&ogid=128ED...
1828  category.aspx?id=42511&category=472&ogid=128ED...
1829  category.aspx?id=42511&category=472&ogid=128ED...
1830  category.aspx?id=42511&category=472&ogid=128ED...

[1831 rows x 11 columns]

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's Singles URL, Filtered by 100 results on each page.
ms_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this trip to work with the last page which doesn't contain 100 results as the previous ones.
ms_page_number = 1
ms_results = 1831

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
ms_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for ms_page in range(1, ms_page_number + 20):
    if ms_page < 19:  # Pages 1-18 with 100 results on each page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    url = data.find('a')['href'] if data.find('a') else ''
                    individual_row_data.append(url)
                else:
                    individual_row_data.append(data.text.strip())

            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data
            
            if len(ms_df) >= ms_results:
                break
    else:  # Page 19 with less than 100 results on this page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(ms_results - ((ms_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    url = data.find('a')['href'] if data.find('a') else ''
                    individual_row_data.append(url)
                else:
                    individual_row_data.append(data.text.strip())

            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data

            if len(ms_df) >= ms_results:
                break

# Display the resulting DataFrame
ms_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHN,[CHN] SHI Yu Qi,/player-profile/38CBD70E-A643-4170-9E6A-288634...,57945,101815,18,Asia,China
1,2,,,DEN,[DEN] Viktor AXELSEN,/player-profile/3BF0C3EA-7BFB-4CC9-A955-3712D8...,25831,93790,14,Europe,Denmark
2,3,,,DEN,[DEN] Anders ANTONSEN,/player-profile/473960FD-334B-476F-9821-8ED939...,91554,84241,22,Europe,Denmark
3,4,,,JPN,[JPN] Kodai NARAOKA,/player-profile/7804BE61-F954-4C46-9E72-FED84B...,62063,84197,22,Asia,Japan
4,5,,,MAS,[MAS] LEE Zii Jia,/player-profile/21E9EAF0-5C86-416F-A942-C3ECA0...,81561,83716,22,Asia,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...
1826,1767,,,UGA,[UGA] Hassan Jamil MAKINDA,/player-profile/7D272D8F-8011-4BB0-AA9E-9C79FE...,33916,20,1,Africa,Uganda
1827,1767,,,UGA,[UGA] Latif NGOBI,/player-profile/A3785297-69E0-4845-BAB5-0235E6...,29626,20,1,Africa,Uganda
1828,1767,,,UGA,[UGA] Abaasi BBAALE,/player-profile/19CD2BAB-6CE5-4ACC-834D-C8C677...,89938,20,1,Africa,Uganda
1829,1767,,,UGA,[UGA] Preet Nikulkumar PATEL,/player-profile/41C69713-E359-41AC-BC17-3CF2E5...,34706,20,1,Africa,Uganda
1830,1767,,,UGA,[UGA] Arafat KALOOBE,/player-profile/7B9A5DF9-EE7E-465D-ADAE-2CB3CB...,22032,20,1,Africa,Uganda

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's Singles URL, Filtered by 100 results on each page.
ms_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this trip to work with the last page which doesn't contain 100 results as the previous ones.
ms_page_number = 1
ms_results = 1831

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
ms_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for ms_page in range(1, ms_page_number + 20):
    if ms_page < 19:  # Pages 1-18 with 100 results on each page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    url = data.find('a')['href'] if data.find('a') else ''
                    complete_url = 'https://bwf.tournamentsoftware.com' + url if url else ''
                    individual_row_data.append(complete_url)
                else:
                    individual_row_data.append(data.text.strip())

            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data
            
            if len(ms_df) >= ms_results:
                break
    else:  # Page 19 with less than 100 results on this page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(ms_results - ((ms_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    url = data.find('a')['href'] if data.find('a') else ''
                    complete_url = 'https://bwf.tournamentsoftware.com' + url if url else ''
                    individual_row_data.append(complete_url)
                else:
                    individual_row_data.append(data.text.strip())

            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data

            if len(ms_df) >= ms_results:
                break

# Display the resulting DataFrame
ms_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHN,[CHN] SHI Yu Qi,https://bwf.tournamentsoftware.com/player-prof...,57945,101815,18,Asia,China
1,2,,,DEN,[DEN] Viktor AXELSEN,https://bwf.tournamentsoftware.com/player-prof...,25831,93790,14,Europe,Denmark
2,3,,,DEN,[DEN] Anders ANTONSEN,https://bwf.tournamentsoftware.com/player-prof...,91554,84241,22,Europe,Denmark
3,4,,,JPN,[JPN] Kodai NARAOKA,https://bwf.tournamentsoftware.com/player-prof...,62063,84197,22,Asia,Japan
4,5,,,MAS,[MAS] LEE Zii Jia,https://bwf.tournamentsoftware.com/player-prof...,81561,83716,22,Asia,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...
1826,1767,,,UGA,[UGA] Hassan Jamil MAKINDA,https://bwf.tournamentsoftware.com/player-prof...,33916,20,1,Africa,Uganda
1827,1767,,,UGA,[UGA] Latif NGOBI,https://bwf.tournamentsoftware.com/player-prof...,29626,20,1,Africa,Uganda
1828,1767,,,UGA,[UGA] Abaasi BBAALE,https://bwf.tournamentsoftware.com/player-prof...,89938,20,1,Africa,Uganda
1829,1767,,,UGA,[UGA] Preet Nikulkumar PATEL,https://bwf.tournamentsoftware.com/player-prof...,34706,20,1,Africa,Uganda
1830,1767,,,UGA,[UGA] Arafat KALOOBE,https://bwf.tournamentsoftware.com/player-prof...,22032,20,1,Africa,Uganda

In [7]:
#ms_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\MS.csv', index = False)

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's DOuble URL, Filtered by 100 results on each page.
md_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42633&category=474&C474FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this trip to work with the last page which doesn't contain 100 results as the previous ones.
md_page_number = 15
md_results = 1429

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
md_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for md_page in range(1, md_page_number + 1):
    if md_page < 19:  # Pages 1-18 with 100 results on each page
        md_url = md_base_url.format(md_page)
        response = requests.get(md_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    url = data.find_all('a')['href'] if data.find_all('a') else ''
                    complete_url = 'https://bwf.tournamentsoftware.com' + url if url else ''
                    individual_row_data.append(complete_url)
                else:
                    individual_row_data.append(data.text.strip())

            md_df_length = len(md_df)
            md_df.loc[md_df_length] = individual_row_data
            
            if len(md_df) >= md_results:
                break
    else:  # Page 19 with less than 100 results on this page
        md_url = md_base_url.format(md_page)
        response = requests.get(md_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(md_results - ((md_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    url = data.find_all('a')['href'] if data.find_all('a') else ''
                    complete_url = 'https://bwf.tournamentsoftware.com' + url if url else ''
                    individual_row_data.append(complete_url)
                else:
                    individual_row_data.append(data.text.strip())

            md_df_length = len(md_df)
            md_df.loc[md_df_length] = individual_row_data

            if len(md_df) >= md_results:
                break

# Display the resulting DataFrame
md_df

TypeError: list indices must be integers or slices, not str

In [11]:
#md_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\MD.csv', index = False)

In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's Singles URL, Filtered by 100 results on each page.
md_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42633&category=474&C474FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this trip to work with the last page which doesn't contain 100 results as the previous ones.
md_page_number = 15
md_results = 1429

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
md_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for md_page in range(1, md_page_number + 1):
    if md_page < 19:  # Pages 1-18 with 100 results on each page
        md_url = md_base_url.format(md_page)
        response = requests.get(md_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    urls = [a['href'] for a in data.find_all('a', href=True)]
                    complete_urls = ', '.join(['https://bwf.tournamentsoftware.com' + url for url in urls])
                    individual_row_data.append(complete_urls)
                else:
                    individual_row_data.append(data.text.strip())

            md_df_length = len(md_df)
            md_df.loc[md_df_length] = individual_row_data
            
            if len(md_df) >= md_results:
                break
    else:  # Page 19 with less than 100 results on this page
        md_url = md_base_url.format(md_page)
        response = requests.get(md_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(md_results - ((md_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    urls = [a['href'] for a in data.find_all('a', href=True)]
                    complete_urls = ', '.join(['https://bwf.tournamentsoftware.com' + url for url in urls])
                    individual_row_data.append(complete_urls)
                else:
                    individual_row_data.append(data.text.strip())

            md_df_length = len(md_df)
            md_df.loc[md_df_length] = individual_row_data

            if len(md_df) >= md_results:
                break

# Display the resulting DataFrame
md_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHNCHN,[CHN] LIANG Wei Keng[CHN] WANG Chang,https://bwf.tournamentsoftware.com/player-prof...,9053155414,96798,14,Asia,China
1,2,,,DENDEN,[DEN] Kim ASTRUP[DEN] Anders Skaarup RASMUSSEN,https://bwf.tournamentsoftware.com/player-prof...,9298044414,91753,20,Europe,Denmark
2,3,,,KORKOR,[KOR] KANG Min Hyuk[KOR] SEO Seung Jae,https://bwf.tournamentsoftware.com/player-prof...,7726266513,90415,20,Asia,Korea
3,4,,,MASMAS,[MAS] Aaron CHIA[MAS] SOH Wooi Yik,https://bwf.tournamentsoftware.com/player-prof...,5620399389,84315,16,Asia,Malaysia
4,5,,,CHNCHN,[CHN] HE Ji Ting[CHN] REN Xiang Yu,https://bwf.tournamentsoftware.com/player-prof...,5967384812,83961,23,Asia,China
...,...,...,...,...,...,...,...,...,...,...,...
1424,1415,,,ESPESP,[ESP] Fernando CIVICO[ESP] Ricardo RETTIG,https://bwf.tournamentsoftware.com/player-prof...,9632969882,20,1,Europe,Spain
1425,1426,,,BELBEL,[BEL] Elias BRACKE[BEL] Senne HOUTHOOFD,https://bwf.tournamentsoftware.com/player-prof...,6725155858,15,1,Europe,Belgium
1426,1427,,,BELBEL,[BEL] Charles FOUYN[BEL] Baptiste ROLIN,https://bwf.tournamentsoftware.com/player-prof...,9970396561,2,1,Europe,Belgium
1427,1427,,,FIJFIJ,[FIJ] Jared CHUNG[FIJ] Robert LOO,https://bwf.tournamentsoftware.com/player-prof...,8267255618,2,1,Oceania,Fiji
1428,1427,,,COKCOK,[COK] Brendan LEE[COK] Emanuela MATAIO,https://bwf.tournamentsoftware.com/player-prof...,1988993996,2,1,Oceania,COOK ISLANDS

In [20]:
md_df.to_csv(r'C:\Users\Minh.Nguyen\OneDrive - Stats Perform\_badminton - WORLD - BWF\MD.csv', index = False)

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's Singles URL, Filtered by 100 results on each page.
ms_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results.
# We need this trip to work with the last page which doesn't contain 100 results as the previous ones.
ms_page_number = 1
ms_results = 1831

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
md_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for md_page in range(1, md_page_number + 20):
    if md_page < 19:  # Pages 1-18 with 100 results on each page
        md_url = md_base_url.format(md_page)
        response = requests.get(md_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    urls = [a['href'] for a in data.find_all('a', href=True)]
                    complete_urls = ', '.join(['https://bwf.tournamentsoftware.com' + url for url in urls])
                    individual_row_data.append(complete_urls)
                elif idx == 6:  # The 7th column is 'Member ID'
                    texts = [text for text in data.stripped_strings]
                    concatenated_texts = '/'.join(texts)
                    individual_row_data.append(concatenated_texts)
                else:
                    individual_row_data.append(data.text.strip())

            md_df_length = len(md_df)
            md_df.loc[md_df_length] = individual_row_data
            
            if len(md_df) >= md_results:
                break
    else:  # Page 19 with less than 100 results on this page
        md_url = md_base_url.format(md_page)
        response = requests.get(md_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(md_results - ((md_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    urls = [a['href'] for a in data.find_all('a', href=True)]
                    complete_urls = ', '.join(['https://bwf.tournamentsoftware.com' + url for url in urls])
                    individual_row_data.append(complete_urls)
                elif idx == 6:  # The 7th column is 'Member ID'
                    texts = [text for text in data.stripped_strings]
                    concatenated_texts = '/'.join(texts)
                    individual_row_data.append(concatenated_texts)
                else:
                    individual_row_data.append(data.text.strip())

            md_df_length = len(md_df)
            md_df.loc[md_df_length] = individual_row_data

            if len(md_df) >= md_results:
                break

# Display the resulting DataFrame
md_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHNCHN,[CHN] LIANG Wei Keng[CHN] WANG Chang,https://bwf.tournamentsoftware.com/player-prof...,90531/55414,96798,14,Asia,China
1,2,,,DENDEN,[DEN] Kim ASTRUP[DEN] Anders Skaarup RASMUSSEN,https://bwf.tournamentsoftware.com/player-prof...,92980/44414,91753,20,Europe,Denmark
2,3,,,KORKOR,[KOR] KANG Min Hyuk[KOR] SEO Seung Jae,https://bwf.tournamentsoftware.com/player-prof...,77262/66513,90415,20,Asia,Korea
3,4,,,MASMAS,[MAS] Aaron CHIA[MAS] SOH Wooi Yik,https://bwf.tournamentsoftware.com/player-prof...,56203/99389,84315,16,Asia,Malaysia
4,5,,,CHNCHN,[CHN] HE Ji Ting[CHN] REN Xiang Yu,https://bwf.tournamentsoftware.com/player-prof...,59673/84812,83961,23,Asia,China
...,...,...,...,...,...,...,...,...,...,...,...
1424,1415,,,ESPESP,[ESP] Fernando CIVICO[ESP] Ricardo RETTIG,https://bwf.tournamentsoftware.com/player-prof...,96329/69882,20,1,Europe,Spain
1425,1426,,,BELBEL,[BEL] Elias BRACKE[BEL] Senne HOUTHOOFD,https://bwf.tournamentsoftware.com/player-prof...,67251/55858,15,1,Europe,Belgium
1426,1427,,,BELBEL,[BEL] Charles FOUYN[BEL] Baptiste ROLIN,https://bwf.tournamentsoftware.com/player-prof...,99703/96561,2,1,Europe,Belgium
1427,1427,,,FIJFIJ,[FIJ] Jared CHUNG[FIJ] Robert LOO,https://bwf.tournamentsoftware.com/player-prof...,82672/55618,2,1,Oceania,Fiji
1428,1427,,,COKCOK,[COK] Brendan LEE[COK] Emanuela MATAIO,https://bwf.tournamentsoftware.com/player-prof...,19889/93996,2,1,Oceania,COOK ISLANDS

In [29]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Men's Singles URL, Filtered by 100 results on each page.
ms_base_url = 'https://bwf.tournamentsoftware.com/ranking/category.aspx?id=42511&category=472&C472FOC=&p={}&ps=100'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# After checking with the filter by 100 results on each page. There are a total of 19 pages and 1831 results. 
# We need this information to work with the last page which contains less than 100 results compared to the previous pages.
ms_page_number = 19
ms_results = 1831

# Create DataFrame
list_of_columns = ['Rank', 'x1', 'x2', 'Country Code', 'Player', 'x3', 'Member ID', 'Points', 'Tournaments', 'Confederation', 'Country']
ms_df = pd.DataFrame(columns=list_of_columns)

# Create a loop to add data to all pages in DataFrame
# Loop through pages 1 to 19
for ms_page in range(1, ms_page_number + 1):
    if ms_page < 19:  # Pages 1-18 with 100 results on each page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:102]  # Skip the header rows

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    urls = [a['href'] for a in data.find_all('a', href=True)]
                    complete_urls = ', '.join(['https://bwf.tournamentsoftware.com' + url for url in urls])
                    individual_row_data.append(complete_urls)
                elif idx == 6:  # The 7th column is 'Member ID'
                    texts = [text for text in data.stripped_strings]
                    concatenated_texts = '/'.join(texts)
                    individual_row_data.append(concatenated_texts)
                else:
                    individual_row_data.append(data.text.strip())

            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data
            
            if len(ms_df) >= ms_results:
                break
    else:  # Page 19 with less than 100 results on this page
        ms_url = ms_base_url.format(ms_page)
        response = requests.get(ms_url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')
        ranking_table = soup.find('table', class_='ruler')
        all_rows = ranking_table.find_all('tr')[2:(ms_results - ((ms_page_number - 1) * 100) + 2)]

        for row in all_rows:
            row_data = row.find_all('td')
            individual_row_data = []

            for idx, data in enumerate(row_data):
                if idx == 5:  # The 6th column is 'x3'
                    urls = [a['href'] for a in data.find_all('a', href=True)]
                    complete_urls = ', '.join(['https://bwf.tournamentsoftware.com' + url for url in urls])
                    individual_row_data.append(complete_urls)
                elif idx == 6:  # The 7th column is 'Member ID'
                    texts = [text for text in data.stripped_strings]
                    concatenated_texts = '/'.join(texts)
                    individual_row_data.append(concatenated_texts)
                else:
                    individual_row_data.append(data.text.strip())

            ms_df_length = len(ms_df)
            ms_df.loc[ms_df_length] = individual_row_data

            if len(ms_df) >= ms_results:
                break

# Display the resulting DataFrame
ms_df

,Rank,x1,x2,Country Code,Player,x3,Member ID,Points,Tournaments,Confederation,Country
0,1,,,CHN,[CHN] SHI Yu Qi,https://bwf.tournamentsoftware.com/player-prof...,57945,101815,18,Asia,China
1,2,,,DEN,[DEN] Viktor AXELSEN,https://bwf.tournamentsoftware.com/player-prof...,25831,93790,14,Europe,Denmark
2,3,,,DEN,[DEN] Anders ANTONSEN,https://bwf.tournamentsoftware.com/player-prof...,91554,84241,22,Europe,Denmark
3,4,,,JPN,[JPN] Kodai NARAOKA,https://bwf.tournamentsoftware.com/player-prof...,62063,84197,22,Asia,Japan
4,5,,,MAS,[MAS] LEE Zii Jia,https://bwf.tournamentsoftware.com/player-prof...,81561,83716,22,Asia,Malaysia
...,...,...,...,...,...,...,...,...,...,...,...
1826,1767,,,UGA,[UGA] Hassan Jamil MAKINDA,https://bwf.tournamentsoftware.com/player-prof...,33916,20,1,Africa,Uganda
1827,1767,,,UGA,[UGA] Latif NGOBI,https://bwf.tournamentsoftware.com/player-prof...,29626,20,1,Africa,Uganda
1828,1767,,,UGA,[UGA] Abaasi BBAALE,https://bwf.tournamentsoftware.com/player-prof...,89938,20,1,Africa,Uganda
1829,1767,,,UGA,[UGA] Preet Nikulkumar PATEL,https://bwf.tournamentsoftware.com/player-prof...,34706,20,1,Africa,Uganda
1830,1767,,,UGA,[UGA] Arafat KALOOBE,https://bwf.tournamentsoftware.com/player-prof...,22032,20,1,Africa,Uganda